.container {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    gap: 1rem;

    &:not(.full) {
        @media (min-width: 920px) {
            padding: var(--block-padding-large);
            background: var(--color-block);
            border-radius: var(--block-border-radius);
            color: var(--foreground);
        }
    }
    a:is(:hover):not(:disabled) {
        color: var(--color-accent-primary);
    }

    &.full {
        .full-collection {
            padding: 0;
        }
    }
}

.title {
    display: flex;
    align-items: center;
}

.body {
    max-width: 62rem;
}

@media (min-width: 920px) {
    .align-left {
        justify-self: flex-start;
        align-self: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .align-center {
        justify-self: center;
        align-self: center;
        align-items: center;
        text-align: center;
    }
    .align-right {
        justify-self: flex-end;
        align-self: flex-end;
        align-items: flex-end;
        text-align: right;
    }
}
