@import 'globals';

body a.container {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    flex-grow: 0;
    gap: 0;
    justify-content: center;
    align-items: center;

    height: calc(100% - var(--block-padding) * 2);
    max-height: 3.75rem;
    padding: var(--block-padding-small) 0;

    background-color: transparent;
    color: var(--accent-secondary-text);

    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;

    &,
    svg {
        transition: #{$animation-duration} ease-in-out all;
    }

    .icon {
        overflow: hidden;
        display: block;

        font-size: 0.95em;
        text-align: right;
    }

    .quantity {
        width: 0;

        font-weight: 800;
        font-size: 0.85em;
        text-align: left;
    }

    &:not(:disabled):is(:hover, :active, :focus) {
        &:is([data-items='0']) {
            &,
            svg {
                color: var(--color-accent-primary);
                stroke: var(--color-accent-primary);
            }
        }
    }

    svg {
        color: var(--accent-secondary-text);
        stroke: var(--accent-secondary-text);
    }

    @media (min-width: $breakpoint-mobile) {
        height: calc(100% - var(--block-padding) * 2);

        font-size: 2rem;
    }

    &[data-items] {
        border-radius: 5rem;

        &:not([data-items='0'], :disabled) {
            gap: var(--block-spacer);
            padding: var(--block-padding-small) calc(var(--block-padding) * 1.25);
            background-color: var(--color-accent-primary);
            color: var(--accent-primary-text);

            @media (min-width: $breakpoint-mobile) {
                padding: var(--block-padding-small) var(--block-padding);
            }

            svg {
                color: var(--accent-primary-text);
                stroke: var(--accent-primary-text);
            }

            .quantity {
                width: fit-content;
                padding: 0.15rem 0 0 0.3rem;
            }

            &:is(:hover, :active) {
                background-color: var(--color-bright);

                &,
                svg {
                    color: var(--color-dark);
                    stroke: var(--color-dark);
                }
            }
        }
    }
}
