@import 'globals';

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    gap: 0;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    line-height: 1;
    text-align: center;

    .icon {
        overflow: hidden;
        display: block;

        text-align: right;
    }

    .quantity {
        width: 0;

        font-weight: 800;
        font-size: 1rem;
        text-align: left;
    }

    &[data-items] {
        &:not([data-items='0'], :disabled) {
            gap: var(--block-spacer);
            min-width: fit-content;

            .quantity {
                width: fit-content;
                padding: 0.15rem 0 0 0.15rem;
            }

            &:is(:active, :focus) {
                background-color: var(--color-bright);
            }
        }
    }
}
