@import 'globals';

.container {
    display: flex;

    gap: calc(var(--block-spacer) * 2);

    @media (max-width: $breakpoint-header) {
        z-index: 5;

        flex-direction: column;
        flex-grow: 1;
        position: fixed;
        inset: 7rem 0 0 -105vw;

        width: 42rem;
        max-width: 95vw;
        height: calc(100vh - 7.15rem);
        height: calc(100dvh - 7.15rem);
        padding: var(--block-padding) var(--block-padding-large) var(--block-padding-large) var(--block-padding-large);

        background-color: var(--background);
        color: var(--color);
        border-right: var(--block-border-width) solid var(--accent-secondary-dark);
        box-shadow: 1rem 1rem 1rem -0.5rem var(--color-block-shadow);
        transition: 150ms ease-in-out all;
        overflow-y: scroll;

        font-size: 16px;

        [data-menu-open='true'] & {
            inset: 7rem 0 0 0;
        }
    }

    @media (min-width: $breakpoint-header) {
        justify-content: flex-start;
        align-items: center;
        margin-left: var(--block-spacer);
        height: 100%;
        color: inherit;

        font-weight: 600;
        font-size: 1.65rem;
        text-transform: uppercase;

        &:hover {
            color: inherit;
        }

        &.centered {
            gap: calc(var(--block-spacer-large) * 1.75);
        }
    }

    a {
        cursor: pointer;

        @media (min-width: $breakpoint-header) {
            height: 100%;
        }

        &:is(:hover, :active, :focus, :focus-within, .active),
        &:hover {
            text-decoration: underline;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--block-spacer-small);
        cursor: pointer;

        & > a {
            font-size: 1.25em;
            font-weight: 700;

            @media (min-width: $breakpoint-header) {
                font-size: 1em;
                font-weight: inherit;
            }
        }

        @media (min-width: $breakpoint-header) {
            flex-direction: row;
            align-items: center;

            height: 100%;
        }

        svg {
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin: 0 -0.25rem -0.15rem 0;
            font-size: 1.75em;
            vertical-align: middle;
            transform: rotate(-90deg);
            transition: 75ms ease-in-out transform;
            text-align: right;

            @media (min-width: $breakpoint-header) {
                display: flex;

                height: 100%;

                font-size: 1.75rem;
            }
        }

        @media (min-width: $breakpoint-header) {
            &:has(:is(:hover, :active, :focus, :focus-within)),
            &:is(:hover, :active, :focus, :focus-within),
            &:hover {
                color: var(--accent-primary);

                svg {
                    transform: rotate(0);
                }

                /* NOTE: DO NOT "@media (hover: hover) and (pointer: fine)" this one! */
                .submenu {
                    z-index: 1;
                    max-height: 100vh;
                    border-bottom: var(--block-border-width) solid var(--accent-secondary);
                }
            }

            // Firefox doesn't support `:is()`, so we have to do this.
            &:hover .submenu {
                opacity: 1;
                max-height: 100vh !important;
            }
        }

        a {
            @media (min-width: $breakpoint-header) {
                text-transform: uppercase;
            }

            &.top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                text-transform: unset;
                white-space: nowrap;
            }
        }

        .submenu {
            transition:
                75ms ease-in-out max-height,
                75ms ease-in-out height,
                150ms ease-in-out border,
                $animation-duration ease-in-out opacity;
            // Make the hit-box larger, could've been a padding but it obscures the logo
            // e.g., let's not `padding-top: 0.75rem;`.
            border-bottom: 0 solid transparent;
            background-color: var(--background);
            color: var(--color);
            line-height: normal;
            cursor: unset;

            @media (min-width: $breakpoint-header) {
                z-index: -1;
                overflow: hidden;
                position: absolute;
                inset: 5.45rem 0 auto 0;

                max-height: 0;
                opacity: 0;
                box-shadow: 0 1rem 1rem -1rem var(--color-block-shadow);
            }

            .content {
                gap: var(--block-spacer-large);

                max-width: var(--page-width);
                padding: 1rem 2rem 1rem 2rem;
                margin: 0 auto;

                @media (min-width: $breakpoint-header) {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

                    padding: 2rem 2rem 1rem 2rem;
                }

                .subitem {
                    transition: 150ms ease-in-out;

                    &:not(:last-child) {
                        margin-bottom: calc(var(--block-spacer) * 2);

                        @media (min-width: $breakpoint-header) {
                            margin-bottom: var(--block-spacer);
                        }
                    }

                    &.active,
                    &:hover {
                        font-weight: 700;
                    }

                    .title {
                        min-height: 2rem;

                        line-height: normal;
                        font-size: 1.25em;
                        font-weight: 700;

                        @media (min-width: $breakpoint-header) {
                            font-size: 1em;
                            font-weight: 600;
                        }
                    }

                    .description {
                        font-weight: 500;
                        font-size: 1em;
                        line-height: normal;
                        text-transform: none;
                        opacity: 0.75;
                        margin-top: 0.5rem;

                        @media (min-width: $breakpoint-header) {
                            font-size: 1.35rem;
                        }
                    }
                }
            }
        }
    }
}

.active {
    color: var(--accent-primary);
    text-decoration: underline 0.2rem;
    text-underline-offset: var(--block-border-width);
    text-underline-position: auto;
    font-weight: 700;
}
