@import 'globals';

.container {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--block-spacer);

    width: auto;
    height: auto;
    max-height: 100%;
    padding: var(--block-padding-large) var(--block-padding);

    font-weight: 700;
    text-align: center;
    line-height: 1;

    border-radius: var(--block-border-radius);
    box-shadow: 0 0 1rem -0.5rem var(--color-block-shadow);
    background-color: var(--accent-primary);
    color: var(--accent-primary-text);

    transition: $animation-duration ease-in-out all;
    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
    &:is(:hover, :active) {
        cursor: pointer;
    }

    @media (min-width: $breakpoint-mobile) {
        gap: var(--block-spacer-small);
        padding: var(--block-padding) var(--block-padding);
    }

    &:is([data-success], :is([data-success]):is(:enabled:active, :enabled:hover, :disabled:active, :disabled:hover)) {
        background-color: var(--color-block-success);
        color: var(--color-block-success-text);
        font-weight: 600;
    }

    &:not([data-success], :disabled) {
        background-color: var(--accent-primary);

        &:is(:hover) {
            background-color: var(--color-accent-primary-light);
        }
        &:is(:active, :focus, :focus-within) {
            background-color: var(--color-accent-primary-dark);
        }
    }

    &:is(:disabled):not([data-success]) {
        &:not([data-ready='false']) {
            background-color: var(--color-block-dark);
            color: var(--color-block-black);
        }
        &:is([data-ready='false']) {
            background-color: var(--color-accent-primary-dark);
            opacity: 0.5;
        }

        box-shadow: none;

        cursor: not-allowed;

        svg {
            display: none;
        }
    }

    svg {
        font-size: 0.95rem;
        height: 100%;
        vertical-align: middle;
    }
}
