@import 'globals';

.container {
    transition: $animation-duration ease-in-out all;

    cursor: pointer;
    &:is(:hover, :active) {
        cursor: pointer;
    }

    &:is([data-success], :is([data-success]):is(:enabled:active, :enabled:hover, :disabled:active, :disabled:hover)) {
        background-color: var(--color-block-success);
        color: var(--color-block-success-text);
        font-weight: 600;
    }

    &:not([data-success], :disabled) {
        background-color: var(--accent-primary);

        &:is(:hover) {
            background-color: var(--color-accent-primary-light);
        }
        &:is(:active, :focus, :focus-within) {
            background-color: var(--color-accent-primary-dark);
        }
    }

    &:is(:disabled):not([data-success]) {
        box-shadow: none;
        cursor: not-allowed;

        &:not([data-ready='false']) {
            background-color: var(--color-block-dark);
            color: var(--color-block-black);
        }
        &:is([data-ready='false']) {
            background-color: var(--color-accent-primary-dark);
            filter: brightness(0.75) contrast(0.25);
        }

        svg {
            display: none;
        }
    }

    svg {
        font-size: 0.95rem;
        height: 100%;
        vertical-align: middle;
    }
}
