@import 'globals';

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;

    @media (min-width: $breakpoint-mobile) {
        gap: var(--block-padding-large);
        flex-wrap: wrap;
    }

    @media (max-width: $breakpoint-mobile) {
        overflow-x: scroll;
        max-width: 100%;
    }

    .item,
    .ellipsis,
    .action {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: var(--block-padding);

        text-align: center;
        font-weight: 600;
        font-size: 0.75em;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        @media (min-width: $breakpoint-mobile) {
            font-weight: 700;
            font-size: 0.9em;
        }
    }

    .action {
        font-weight: 600;
    }

    .content {
        display: flex;
        gap: var(--block-spacer-small);
        align-items: center;

        @media (min-width: $breakpoint-mobile) {
            flex-wrap: wrap;
        }

        .item {
            height: 3rem;
            width: 2.75rem;
            border-radius: var(--block-border-width-large);

            @media (min-width: $breakpoint-mobile) {
                width: 3.5rem;
            }

            &:is([data-selected='true']) {
                background: var(--color-accent-primary);
                color: var(--color-accent-primary-text);
            }

            &:is(a):is(:hover) {
                background: var(--color-accent-secondary-light);
                color: var(--color-accent-secondary-text);
            }
        }
    }
}
