@import '../../src/scss/app';

.CartPage {
    .CartPage-Content {
        display: grid;
        grid-template-columns: 1fr 32rem;
        grid-gap: 2rem;

        @media (max-width: $width-min-tablet) {
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            margin: 2rem 0px;
        }

        .CartPage-Content-Items {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            @media (max-width: $width-max-mobile) {
                border: 0.15rem solid $color-silvery;
                border-bottom: none;
            }

            .CartPage-Content-Items-Header {
                display: grid;
                grid-template-columns: 7rem 1fr 4rem 13rem 0.5rem;
                grid-gap: 1rem;
                height: 3.5rem;
                width: 100%;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.25rem;
                color: $color-dark;

                div {
                    display: flex;
                    align-items: center;
                }

                .actions,
                .quantity,
                .total_price {
                    justify-content: center;
                    text-align: center;
                }

                @media (max-width: $width-max-mobile) {
                    overflow: hidden;

                    // display: flex;
                    grid-template-columns: 4rem 1fr 1fr 1fr;
                    max-width: calc(100vw - 2rem);
                    padding: 0px 3rem 0px 1rem;

                    .actions {
                        display: none;
                    }

                    .details {
                        opacity: 0;
                    }
                }
            }

            .CartItem {
                width: 100%;
                border-top: 0.15rem solid $color-silvery;

                &:last-of-type {
                    border-bottom: 0.15rem solid $color-silvery;
                }
            }
        }

        .CartPage-Content-Total {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-gap: 1rem;
            padding: 2rem;
            border: 0.15rem solid $color-silvery;
            text-transform: uppercase;

            .CartPage-Content-Total-Content {
                .CartPage-Content-Total-Content-Items {
                    display: grid;
                    grid-template-columns: 1fr;
                    padding-bottom: 1rem;

                    .CartPage-Content-Total-Content-Items-Item {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 0.5rem 0px;
                        font-size: 1.25rem;
                        border-bottom: 0.1rem solid $color-silvery;

                        .CartPage-Content-Total-Content-Items-Item-Meta {
                            .CartPage-Content-Total-Content-Items-Item-Meta-Variant {
                                line-height: 2rem;
                            }

                            .CartPage-Content-Total-Content-Items-Item-Meta-Product {
                                font-weight: 700;
                                color: $color-dark;
                            }
                        }

                        .CartPage-Content-Total-Content-Items-Item-Prices {
                            font-weight: 700;
                            text-align: right;

                            .Currency-Sale {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .CartPage-Content-Total-Before,
            .CartPage-Content-Total-Discount {
                font-size: 1.15rem;
                font-weight: 700;
            }

            .CartPage-Content-Total-Discount {
                color: $color-sale;
            }

            .CartPage-Content-Total-Div {
                margin: 0.5rem 0px;
                border-top: 0.05rem solid $color-dark;
            }

            .CartPage-Content-Total-Total {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .CartPage-Content-Total-Actions {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                img {
                    max-width: 100%;
                    width: 16rem;
                    margin-top: 1rem;
                }
            }

            @media (max-width: $width-max-mobile) {
                padding: 1rem;
            }
        }
    }
}
