@import 'globals';

.title {
    line-height: normal;
    font-weight: 600;
    color: var(--color-dark);
    transition: 150ms ease-in-out color;

    &.bold {
        font-size: 1.95rem;
        font-weight: 700;
        color: var(--accent-primary);
    }

    a:is(:hover, :focus, :focus-within) & {
        text-underline-offset: var(--block-border-width);

        color: var(--accent-primary-light);
    }
}

.subtitle {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--color-dark);
    transition: 150ms ease-in-out all;

    &.bold {
        font-size: 0.95rem;
        font-weight: 500;
    }

    &:is(:hover, :focus, :focus-within):has(a:not(:disabled)) {
        color: var(--accent-secondary);
    }
}
