.price {
    color: var(--color-dark);
}

.current {
    position: relative;

    height: 100%;

    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 700;

    &.sale {
        font-weight: 800;

        color: var(--color-sale);
    }
}

.previous {
    position: relative;

    height: 100%;

    font-size: 0.85em;
    line-height: normal;
    font-weight: 600;

    &,
    .price {
        color: var(--color-block-black);
    }
}

.dash {
    position: relative;
    text-decoration: none;

    height: 100%;

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 0.15rem;
        width: 95%;
        inset: 48% 0 0 2.5%;
        white-space: nowrap;
        border-radius: 1rem;
        transform: rotate(-15deg);
        background: var(--color-block-black);
    }
}
