@import 'globals';

.container {
    display: grid;
    grid-template-rows: auto minmax(calc(100vh - 14rem), auto) auto;
    grid-template-columns: 100%;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--layout-section-padding);

        .page {
            display: flex;
            flex-direction: column;
            gap: var(--layout-section-padding);
        }

        .section-title {
            display: flex;
            gap: calc(var(--layout-block-padding) / 2);
        }
    }
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--layout-block-padding) / 2);

    .setting {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-block-padding);
        width: 100%;

        &.collaborator {
            display: grid;
            grid-template-columns: auto 1fr;
            justify-content: center;
            align-items: center;
            min-width: 0;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 0;

                width: 2rem;
                height: 2rem;
                border-radius: 100%;

                background-color: var(--color-background-highlight);
            }
        }

        &:is(a, button):is(:hover, :active) {
            .action,
            label {
                color: var(--color-accent-primary);
            }
        }

        .action {
            padding: 0;

            background: none;

            font-size: 1.15em;

            border-width: 0;
            border-radius: 0;

            &:is(:hover, :active) {
                background: none;

                color: var(--color-accent-primary);
            }
        }
    }
}

.split-view {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--layout-block-padding) * 2);

    @media (min-width: $breakpoint-mobile) {
        grid-template-columns: 1fr 22rem;
        gap: var(--layout-block-padding);
    }

    main,
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: var(--layout-block-padding);

        .section,
        & > section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            gap: calc(var(--layout-block-padding) / 4);

            form {
                display: flex;
                flex-direction: column;
                gap: calc(var(--layout-block-padding) / 2);
            }

            textarea {
                width: 100%;
                min-height: 18rem;

                resize: vertical;
            }
        }
    }
}

.blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layout-block-padding);

    @media (min-width: $breakpoint-mobile) {
        gap: calc(var(--layout-block-padding) * 2);
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        flex-grow: 1;

        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            gap: calc(var(--layout-block-padding) / 4);
            flex-grow: 1;

            width: 100%;
        }
    }
}

.shop-selector {
    display: flex;
    flex-direction: column;
    width: 24rem;
    max-width: 100%;
    margin: 0 auto;
    gap: var(--layout-section-spacing);

    .card-header {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 4);
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-section-spacing) / 2);

        .button {
            flex-grow: 1;

            width: 100%;
            padding: var(--layout-block-padding) var(--layout-block-padding-half);

            font-size: 1em;
        }
    }
}
