@import 'globals';

.footer {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    max-width: 100%;
}

.container,
.copyrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.container {
    background: var(--color-accent-primary);
    color: var(--color-foreground);

    .content {
        width: calc(var(--layout-page-width) + var(--layout-page-spacing) * 2);
        max-width: 100%;
        padding: var(--layout-section-padding) var(--layout-page-spacing);
        font-size: 1em;

        .section {
            a {
                &:is(:hover) {
                    color: var(--color-background);
                }
            }
        }

        .status {
            &.beside {
                grid-template-columns: 1fr;

                @media (min-width: $breakpoint-mobile) {
                    grid-template-columns: auto 1fr;
                }
            }

            .section {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: calc(var(--layout-block-padding) / 2);

                .message {
                    color: var(--color-foreground);
                }

                a,
                .message {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: inherit;
                }
            }
        }
    }
}

.copyrights {
    background: var(--color-background);
    color: var(--color-foreground);

    .content {
        width: calc(100vw - calc(var(--layout-page-spacing) * 2));
        max-width: var(--layout-page-width);
        margin: 0 var(--layout-page-spacing);
        padding: var(--layout-section-padding) 0;

        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;

        .links {
            display: flex;
            gap: var(--layout-block-padding);
        }

        &.beside {
            @media (max-width: $breakpoint-mobile) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
}

.container .beside,
.copyrights .beside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--layout-block-padding) / 4);

    .section {
        &:is(:last-child) {
            @media (min-width: $breakpoint-mobile) {
                justify-self: flex-end;
                text-align: right;
            }
        }

        a.git-ref {
            text-transform: lowercase;
        }
    }

    @media (min-width: $breakpoint-mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        align-items: center;
    }
}

.status-iframe {
    margin-left: -8px;
}
