@import 'globals';

.header {
    z-index: 10;
    position: sticky;
    top: 0;

    & > div {
        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr auto !important;
        }
    }

    .logo-wrapper {
        position: relative;
        display: block;
        justify-self: flex-start;
        height: 4rem;
        width: 100%;

        [data-logo-placement='center'] & {
            justify-self: flex-start;

            @media (min-width: $breakpoint-mobile) {
                justify-self: unset;
            }
        }

        @media (min-width: $breakpoint-mobile) {
            height: 2.5rem;
        }

        .logo {
            height: 100%;

            -webkit-user-select: none;
            user-select: none;
            object-fit: contain;
            object-position: left center;
        }
    }

    .menu {
        .button {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 0;

            background: var(--color-background-highlight);
            border-color: var(--color-background-highlight);
            color: var(--color-foreground);

            font-size: 0.85em;
            font-weight: 500;

            .label {
                padding: var(--layout-block-padding-half) calc(var(--layout-block-padding) / 1.35);

                @media (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }

            .icon {
                height: 100%;
                width: auto;

                aspect-ratio: 1 / 1;
            }
        }
    }
}
