@import 'globals';

.container {
    &.loading {
        opacity: 0.5;
    }

    &:is([data-content], [data-icon]) {
        align-self: center;
        justify-self: center;
        height: 100%;
    }

    .provider-logo {
        display: block;
        width: 2em;
        height: 1.05em;
        object-fit: contain;
        margin-bottom: 0.05rem;
        line-height: normal;
    }

    &:hover .provider-logo {
        filter: invert(1);
        color: var(--color-background);
        transition: 250ms ease-in-out filter;
    }
}
