@import '../../../../_scss/global';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--layout-section-padding);
}

.shops {
    display: flex;

    .shop {
        width: 100%;

        @media (min-width: $breakpoint-mobile) {
            width: auto;
        }
    }
}

.collaborators {
    display: flex;
    flex-direction: column;
    gap: calc(var(--layout-block-padding) / 4);

    .collaborator {
        width: 100%;
    }
}

.blocks {
    display: flex;

    .block {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        width: 100%;

        @media (min-width: $breakpoint-mobile) {
            width: auto;
        }
    }
}
