@import '../../scss/app';

.ScrollToTop {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    text-transform: uppercase;
    border-radius: 100%;
    background: $color-primary;
    color: $color-text-primary;
    transition: 250ms all ease-in-out;

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    @media (max-width: $width-max-mobile) {
        width: 4.5rem;
        height: 4.5rem;

        svg {
            padding: 0.25rem;
        }
    }

    @media (min-width: $width-max-mobile) {
        &:hover {
            background: $color-primary-light;
            box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        }
    }
}
