@import 'globals';

.input {
    height: 8rem;
    padding: var(--block-padding);

    text-transform: initial;
    font-size: 0.85em;

    border-width: 0;

    border-radius: var(--block-border-radius-tiny);
}
