@import 'globals';

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--block-spacer-small);

    padding: var(--block-padding);

    color: var(--accent-secondary-text);
    background-color: var(--color-accent-secondary-light);

    transition: 150ms ease-in-out;
    border-radius: var(--block-border-radius);

    @media (min-width: $breakpoint-mobile) {
        padding: var(--block-padding-large);
    }

    .progress {
        overflow: hidden;
        width: 100%;
        height: var(--block-padding-large);
        background: var(--color-block);
        border-radius: var(--block-border-radius-large);

        .line {
            height: 100%;
            background: var(--accent-secondary-dark);
        }

        &.full .line {
            background: var(--color-green);
        }
    }

    .label {
        text-transform: none;

        font-size: 0.85em;
        font-weight: 500;
        line-height: normal;

        @media (min-width: $breakpoint-mobile) {
            font-size: 1em;
        }
    }

    &.success {
        padding: var(--block-padding-large);

        background-color: var(--color-green-light);

        border-radius: var(--block-border-radius);

        &,
        .label {
            color: var(--color-green);

            font-weight: 600;
        }
    }
}
