{
    "$schema": "https://json.schemastore.org/eslintrc.json",
    "root": true,
    "env": {
        "browser": false,
        "es2024": true,
        "node": true
    },
    "extends": [
        "next/core-web-vitals",
        "plugin:react/recommended",
        "prettier",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": ["@typescript-eslint", "eslint-plugin-jsdoc", "import", "jsx-a11y", "unused-imports", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "project": ["./tsconfig.json", "./apps/*/tsconfig.json"]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "@typescript-eslint/consistent-type-imports": "error",
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "consistent-return": "error",
        "import/first": "off",
        "import/order": "off",
        "indent": "off",
        "jsdoc/check-types": "error",
        "jsdoc/require-hyphen-before-param-description": "error",
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/html-has-lang": "off",
        "jsx-a11y/no-autofocus": "off",
        "no-console": ["error", { "allow": ["log", "warn", "error", "debug"] }], // TODO: Proper logger.
        "no-mixed-operators": "off",
        "no-unused-vars": "off",
        "no-useless-constructor": "off",
        "react-hooks/exhaustive-deps": "off",
        "react-hooks/rules-of-hooks": "off",
        "react/no-children-prop": "off",
        "react/no-find-dom-node": "off",
        "react/no-string-refs": "off",
        "react/prop-types": "error",
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "semi": ["error", "always"],
        "standard/computed-property-even-spacing": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
        ]
    }
}
