node_modules/

build/
coverage/
dist/
.next/
.now/
storybook-static/
public/
.vitest/

*.json
*.lock
*.env
*.log
*.bak
*.d.ts

vitest.setup.ts

next.config.*

tailwind.config.cjs
tailwind.config.js
postcss.config.cjs
postcss.config.js
vite.config.ts
vitest.config.ts
vitest.setup.ts
