# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/
apps/**/coverage/

# next.js
.next
next.lock/
out/
dist/

# production
build/
.env.local
apps/**/public/**/sitemap*.xml*
apps/**/public/**/robots.txt*

# misc
.DS_Store
.swc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
.sentryclirc
.vercel
/.env

# typescript
*.tsbuildinfo
.turbo
