# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/
apps/**/coverage/
junit.xml

# next.js
.next
next.lock/
out/
dist/

# production
build/
.env.local
apps/**/public/**/sitemap*.xml*
apps/**/public/**/robots.txt*
*ts.timestamp-*

# misc
.DS_Store
.swc
.bak

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
.sentryclirc
.vercel
.env
!.env.example

# typescript
*.tsbuildinfo
.turbo
