@import '_globals.scss';

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--accent-primary-dark);
    color: var(--accent-primary-text);
    margin-top: var(--block-padding-large);
    padding-top: var(--block-padding);
    padding-bottom: 6rem;

    .content {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 1.5rem;
        width: var(--page-width);
        max-width: 100%;
        padding: var(--block-padding-large);

        .blocks {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;
            text-align: left;

            @media (min-width: $breakpoint-mobile) {
                display: flex;
                gap: var(--block-spacer-large);
            }

            .block {
                display: flex;
                grid-auto-rows: auto;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                flex-grow: 1;
                width: 100%;
                height: 100%;

                font-size: 1.75rem;
                line-height: normal;
                font-weight: 400;

                .title {
                    margin-bottom: var(--block-spacer-large);

                    font-size: 2.5rem;
                    line-height: normal;
                    font-weight: 600;

                    @media (min-width: $breakpoint-mobile) {
                        margin-bottom: var(--block-spacer-small);
                    }
                }

                p {
                    margin-bottom: 0.15rem;

                    line-height: normal;
                }

                .logo {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 5rem;
                    margin: 0 0 var(--block-padding) 0;

                    img {
                        display: block;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        object-position: left;
                    }
                }

                a {
                    font-weight: inherit;
                    margin-bottom: var(--block-spacer);
                }

                @media (min-width: $breakpoint-mobile) {
                    display: grid;

                    justify-content: flex-start;

                    font-size: 1.5rem;
                    line-height: 1;

                    &[data-align='right'] {
                        align-items: flex-end;
                        justify-content: flex-end;
                        text-align: left;
                    }

                    a {
                        margin-bottom: calc(var(--block-spacer) / 1.5);
                    }
                }
            }
        }

        .flag,
        .social-icon {
            overflow: hidden;
            height: 2.75rem;
            width: auto;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .flag {
            aspect-ratio: 2 / 1;
        }

        .social-icon {
            aspect-ratio: 1 / 1;
        }

        .legal {
            display: grid;
            grid-template-columns: 1fr;
            padding-top: var(--block-spacer-large);
            gap: calc(var(--block-spacer-large) * 2);

            @media (min-width: $breakpoint-mobile) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

.bottom-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--block-spacer-small);

    &:nth-child(2) {
        align-items: center;
        gap: var(--block-spacer-small);

        @media (min-width: $breakpoint-mobile) {
            gap: var(--block-spacer);
            align-items: flex-end;
        }
    }

    @media (min-width: $breakpoint-mobile) {
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.5em;
        gap: var(--block-spacer-large);
    }

    .important,
    .socials {
        display: flex;
        flex-wrap: wrap;
        gap: var(--block-spacer);
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-mobile) {
            display: grid;
            grid-template-columns: auto auto auto;
            height: 3rem;
            align-items: flex-end;
            justify-self: flex-end;
        }
    }
    .socials {
        display: flex;
        height: 3rem;
        width: 100%;
        width: 100%;

        @media (min-width: $breakpoint-mobile) {
            justify-content: flex-end;
            align-items: flex-start;
        }

        .social {
            position: relative;
            width: 3.5rem;
            height: 3.5rem;

            @media (min-width: $breakpoint-mobile) {
                width: 3rem;
                height: 3rem;
            }

            img {
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }
    }

    .legal-and-copyrights {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        margin: var(--block-spacer) 0;

        @media (min-width: $breakpoint-mobile) {
            align-items: flex-end;

            height: 4rem;
            margin: 0;
        }

        .policy {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;

            @media (min-width: $breakpoint-mobile) {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 3rem;
                padding: 0;
                font-weight: 800;
                font-size: 1.25rem;
                line-height: 1;
            }
        }

        .copyright {
            display: block;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            text-align: left;

            @media (min-width: $breakpoint-mobile) {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: var(--block-spacer-small);
                height: 3rem;
                font-weight: 800;
                text-align: right;
                font-size: 1.25rem;
                line-height: 1;
            }
        }
    }
}
