@use 'variables';

.container {
    .heading {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 100%;

        .status-code {
            padding-top: var(--layout-section-spacing);
        }

        h1 {
            margin: calc(var(--layout-block-padding) / 4) 0 0 0;

            @media (max-width: variables.$breakpoint-mobile) {
                font-size: 3.25rem !important;
            }
        }

        code {
            padding: 0;
            word-break: break-all;
            white-space: pre-wrap;
            background-color: unset;
            color: inherit;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        width: 100%;
        max-width: 100%;
        margin-top: calc(var(--layout-section-spacing) * 2);

        section {
            max-width: 100%;
            margin: 0 0 calc(var(--layout-block-padding) / 2) 0;

            code {
                word-break: break-all;
                white-space: pre-wrap;
                background-color: unset;
                background: #82828226;
            }
        }

        h3 {
            margin: 0 0 var(--layout-block-padding) 0;
            font-size: 1em;
        }

        p,
        ul {
            font-size: inherit;
            margin: 0 0 calc(var(--layout-block-padding) / 2) 0;
            line-height: normal;
        }

        ul {
            list-style: none;

            li::before {
                content: '-';
                padding: 0 calc(var(--layout-block-padding) / 2);
                font-weight: 700;
            }
        }

        img {
            max-width: 100%;
            margin: calc(var(--layout-block-padding) / 2) 0;
        }

        & :is(:last-child) {
            margin-bottom: 0;
        }
    }
}
