@import "../../scss/app";

.ProductModal {
    .ProductModal-Block-Content {
        overflow-y: auto;
        white-space: nowrap;
        max-height: 100%;

        .ProductModal-Block-Content-Title {
            margin: 1rem 0px 0.5rem 0px;
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .ProductModal-Block-Content-Variants {
            margin: 0px 0px 1rem 0px;
            border-bottom: 0.05rem solid $color-silvery;

            .ProductModal-Block-Content-Variants-Variant {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 5rem;
                width: 100%;
                padding: 0px 1.25rem;
                margin-bottom: 0.5rem;
                border-radius: $block-border-radius;
                border: 0.15rem solid $color-silvery;
                background: $color-silvery;
                color: $color-black;
                cursor: pointer;
                transition: 250ms ease-in-out;
                text-transform: uppercase;
                font-weight: 700;

                .ProductModal-Block-Content-Variants-Variant-Title {
                    font-size: 1.25rem;

                    .Currency {
                        font-size: 0.95rem;
                        color: $color-dark;
                    }
                }

                .ProductModal-Block-Content-Variants-Variant-Meta {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    flex-grow: 1;

                    .ProductModal-Block-Content-Variants-Variant-Meta-Cans {
                        font-size: 0.95rem;
                        color: $color-dark;
                    }

                    .ProductModal-Block-Content-Variants-Variant-Meta-Prices {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        line-height: 1.5rem;
                        font-size: 1.25rem;

                        .ProductModal-Block-Content-Variants-Variant-Meta-Prices-Discounted {
                            color: $color-sale;
                        }
                    }
                }

                .VariantIcon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 2rem;
                    height: calc(5rem - 3rem);
                    margin: 1.5rem 1rem 1.5rem 0px;
                    font-size: 1.25rem;
                }

                &.ProductModal-Block-Content-Variants-Variant-Selected {
                    border: 0.15rem solid $color-primary;
                    color: $color-primary;
                }

                @media (min-width: $width-max-mobile) {
                    &:hover, &:active {
                        border: 0.15rem solid $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }

        .ProductModal-Block-Content-Actions {
            position: absolute;
            bottom: 2rem;
            bottom: calc(2rem + env(safe-area-inset-bottom));
            width: calc(100% - 4rem);
            height: 3.5rem;
        }
    }
}
