@import '../../scss/app';

.SocialShare {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem 0px;

    a {
        overflow: hidden;
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0.5rem;
        border-radius: 100%;

        &:hover, &:active {
            background: $color-secondary;
        }

        img {
            height: 100%;
        }
    }
}
