@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
    body {
        @apply min-h-screen;
    }
}

@layer utilities {
    @keyframes overflow-x-scroll-shadow {
        from {
            box-shadow: inset -30px 0px 25px -30px theme('colors.black / 75%');
        }
        to {
            box-shadow: inset 30px 0px 25px -30px theme('colors.black / 75%');
        }
    }

    .overflow-x-shadow {
        overflow-x: auto;
        animation: overflow-x-scroll-shadow linear;
        animation-timeline: scroll(self inline);
    }
}
