@use 'variables';

.container {
    .heading {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-bottom: var(--layout-block-padding);
        border-bottom: var(--block-border-width) solid var(--color-background-highlight);

        .authors {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: inherit;
            font-weight: inherit;
            text-transform: unset;
            gap: 0.25rem;

            .label {
                font-weight: 600;
                font-size: 1em;
                text-transform: uppercase;
                margin-bottom: calc(var(--layout-block-padding) / 2);
            }

            .author {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5em;

                .avatar {
                    display: block;
                    overflow: hidden;
                    border-radius: 100%;
                    width: 2.75em;
                    aspect-ratio: 1 / 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 0.05em;
                    transition: 200ms ease-in-out color;

                    &:is(:hover, :active):not(:disabled) {
                        &,
                        .name {
                            color: var(--color-accent-primary);
                        }
                    }

                    .name {
                        font-size: 1.05em;
                        font-weight: 700;
                        line-height: normal;
                        color: inherit;
                        color: hsl(var(--color-foreground));
                        transition: inherit;
                    }
                    .handle {
                        font-size: 0.85em;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }

        h1 {
            line-height: 1;
            margin: calc(var(--layout-block-padding) / 2) 0 var(--layout-block-padding) 0;

            @media (min-width: variables.$breakpoint-mobile) {
                max-width: 62rem;
            }

            @media (max-width: variables.$breakpoint-mobile) {
                font-size: 3.25rem !important;
            }
        }

        code {
            padding: 0;
            word-break: break-all;
            white-space: pre-wrap;
            background-color: unset;
            color: inherit;
        }
    }
}
