@import '../../../../scss/app';

.Slice-Collapse {
    .Slice-Collapse-Title {
        display: grid;
        grid-template-columns: 2rem auto;
        gap: 1rem;
        justify-self: flex-start;
        align-items: center;
        padding: 1rem 0px;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 2rem;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        border-bottom: 0.15rem solid $color-black;

        @media (min-width: $width-max-mobile) {
            transition: 150ms all ease-in-out;

            &:hover {
                border-color: $color-primary;
                color: $color-primary;

                .Icon {
                    color: $color-primary;
                }
            }
        }

        .Icon {
            width: 2rem;
            font-size: 1.75rem;
            line-height: 2rem;
            transition: 150ms ease-in-out;
        }

        &.Open {
            .Icon {
                rotate: 180deg;
            }
        }
    }

    .Slice-Collapse-Body {
        overflow: hidden;
        height: 0px;
        margin: 0px;
        transition: 150ms ease-in-out;

        &.Open {
            height: auto;
            margin: 1rem 0px;
        }

        p {
            font-size: 1.25rem;
        }
    }
}
