@import 'globals';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--layout-block-padding);
}

.section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--layout-block-padding) / 4);

    &.small {
        width: 6.5rem;
    }

    img.preview {
        height: 3.5rem;
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius);
    }

    .grid {
        display: flex;
        gap: var(--layout-block-padding);

        .item {
            display: flex;
            flex-direction: column;
            gap: calc(var(--layout-block-padding) / 2);
        }
    }

    select {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
