@import "../../src/scss/app";

.AccountPage {
    .AccountPage-Content {
        display: grid;
        grid-template-columns: 1fr 32rem;
        grid-gap: 2rem;

        @media (max-width: $width-max-mobile) {
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
        }

        .AccountPage-Content-Meta {
            padding: 2rem;
            background: $color-silvery;
            text-transform: uppercase;
            font-size: 1.25rem;

            .AccountPage-Content-Meta-Name {
                margin-bottom: 0.5rem;
                font-size: 2.5rem;
            }

            .AccountPage-Content-Meta-Date {
                margin-bottom: 2rem;
                font-weight: 800;
                font-size: 1.5rem;
                color: $color-dark;
            }

            .AccountPage-Content-Meta-Address {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
