@import "tailwindcss";

@import "@nordcom/nordstar";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@source "../../../../node_modules/@nordcom";
@source "../../node_modules/@nordcom";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-sans: var(--font-primary, var(--font-fallback)), sans-serif;
    --font-mono: var(--font-geist-mono), monospace;

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
    --color-card: hsl(var(--color-background-highlight));
    --color-card-foreground: hsl(var(--card-foreground));

    --aspect-3\/2: 3 / 2;

    --default-transition-duration: 250ms;
}

@utility border-3 {
    border-width: 3px;
}

@utility border-t-3 {
    border-top-width: 3px;
}

@utility brightness-65 {
    filter: brightness(0.65);
}

@utility stroke-1 {
    stroke-width: 0.2rem;
}

@utility stroke-2 {
    stroke-width: 0.25rem;
}

@utility stroke-3 {
    stroke-width: 0.35rem;
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

@layer base {
    :root {
        --font-fallback:
            system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue",
            sans-serif;

        --background: 0 0% 0%;
        --foreground: 0 0% 99.61%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 333.62 85.19% 52.35%;
        --primary-foreground: 0 0 99.61%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply font-sans;
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }

    body {
        font-size: 16px;
        @apply min-h-screen;
    }

    #nprogress {
        pointer-events: none;
    }
    #nprogress .bar {
        background: var(--accent-primary-light);
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--block-spacer);
    }
}
