@import '../../scss/app';

.OrderLineItems {
    border: 0.2rem solid $color-silvery;

    .OrderLineItems-Item {
        padding: 2rem;
        font-size: 1.25rem;

        &:nth-child(odd) {
            background: $color-silvery;
        }
    }
}
