.container {
    display: flex;
    flex-direction: column;
    gap: var(--layout-section-padding);
}

.shops {
    display: flex;
}

.blocks {
    display: flex;

    .block {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
    }
}
