@import '../../../../_scss/global';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-card {
        display: flex;
        flex-direction: column;
        width: 24rem;
        max-width: 100%;
        margin: 0 auto;
        gap: var(--layout-section-spacing);

        .card-header {
            display: flex;
            flex-direction: column;
        }

        .actions {
            display: flex;
            flex-direction: column;
            gap: calc(var(--layout-section-spacing) / 2);

            .button {
                width: 100%;
                flex-grow: 1;
            }
        }
    }
}
