.container {
    // TODO: This should be a part of nordstar.
    appearance: none;
    overflow: hidden;
    display: inline-block;
    max-height: 100%;
    padding: calc(var(--layout-block-padding) / 1.5) var(--layout-block-padding);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: inherit;
    color: var(--color-foreground);
    border-radius: 0;
    //border-radius: var(--block-border-radius, 0);
    border: calc(var(--block-border-width) * 2) solid var(--color-foreground);
    user-select: none;
    transition:
        200ms ease-in-out background-color,
        200ms ease-in-out border-color,
        200ms ease-in-out color;

    @media (min-width: 950px) {
        border-width: calc(var(--block-border-width) * 2.5);
    }

    p {
        font-weight: inherit;
        font-size: inherit;
    }

    &:is(:hover):not(:disabled) {
        color: var(--color-accent-primary);
        border-color: var(--color-accent-primary);
    }

    &:is(:active):not(:disabled) {
        background-color: var(--color-foreground);
        border-color: var(--color-foreground);
        color: var(--color-background);
    }

    &.loading {
        opacity: 0.5;
    }
}
