.container {
    overscroll-behavior-x: none;
}

.header {
    position: sticky;
    z-index: 10;
    top: -1px;
}

@media (max-width: 950px) {
    .container.sidebar {
        height: 100vh;
        overflow: hidden;
    }
}
