@import 'globals';

.breadcrumbs {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: var(--block-spacer) 0 0 0;

    background-color: var(--color-block);
    color: var(--color-dark);

    white-space: nowrap;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;

    line-height: normal;
    font-weight: 600;

    .item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;

        -webkit-user-select: none;
        user-select: none;

        &:last-child {
            font-weight: 700;

            .link {
                color: var(--color-accent-primary-light);
            }
        }

        .icon,
        .link {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            background-color: var(--color-block);
            color: var(--color-block-black);

            transition:
                $animation-duration ease-in-out color,
                $animation-duration ease-in-out background-color;

            text-align: center;
        }

        .icon {
            height: 100%;
            width: 1rem;
            padding: 0;
            vertical-align: middle;

            text-align: center;
            font-size: 1rem;
        }

        .link {
            span {
                display: contents;
            }
        }

        &:not(:last-child) .link {
            cursor: pointer;

            &:is(:hover, :active) {
                background-color: var(--color-accent-secondary-light);
                color: var(--accent-secondary-text);
            }
        }

        &:not(:first-child) {
            text-transform: capitalize;
        }
    }
}
