@import '@/styles/variables.scss';
.viewAll {
    position: relative;
    flex: 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: var(--component-product-card-width);
    height: 100%;
    padding: var(--block-padding) var(--block-padding-large);
    scroll-snap-align: center;
    border-radius: var(--block-border-radius);
    background: var(--accent-secondary);
    color: var(--accent-primary-dark);
    border: calc(var(--block-border-width) * 1.5) solid var(--accent-secondary);
    transition:
        150ms ease-in-out color,
        150ms ease-in-out background-color,
        150ms ease-in-out border;

    line-height: normal;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline 0.2rem dotted;
    text-underline-offset: var(--block-border-width);

    margin-right: calc(50vw - calc(var(--component-product-card-width) / 2 + calc(var(--block-spacer) * 2)));

    @media (min-width: $breakpoint-mobile) {
        margin-right: calc(($page-width / 2) + calc(var(--component-product-card-width) / 2));
    }

    &:is(:hover, :active, :focus, :focus-within) {
        background: var(--accent-primary);
        color: var(--accent-primary-text);
        border-color: var(--accent-primary-dark);
    }
}
