.viewAll {
    position: relative;
    flex: 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: var(--component-product-card-width);
    height: 100%;
    padding: var(--block-padding) var(--block-padding-large);
    scroll-snap-align: start;
    border-radius: var(--block-border-radius);
    background: var(--accent-primary);
    color: var(--accent-primary-text);
    border-color: var(--accent-primary);
    transition:
        150ms ease-in-out background-color,
        150ms ease-in-out border-width;

    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;

    &:is(:hover, :active, :focus, :focus-within) {
        background: var(--accent-secondary);
        color: var(--accent-primary-dark);
        border: calc(var(--block-border-width) * 1.5) solid var(--accent-primary);
    }
}
