@import "../../scss/app";

.Slices {
    overflow: hidden;
    padding: 0px 0px 1rem 0px;
    
    .Slice {
        width: 100vw;
        max-width: 100%;
        margin: 0px auto 1.5rem auto;
    }
}
