@import '../../../../../_scss/_global';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--layout-section-padding);

    .heading {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        justify-content: center;
        align-items: flex-start;

        padding-bottom: var(--layout-block-padding);
        margin-bottom: var(--layout-block-padding);

        border-bottom: var(--border-width-half) solid var(--color-background-highlight);

        @media (min-width: $breakpoint-mobile) {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .sidebar {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @media (min-width: $breakpoint-mobile) {
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;
            }

            button,
            input {
                &,
                form & {
                    margin: 0;

                    &:not(:is(:hover, :active)) {
                        color: var(--color-foreground-secondary);
                        border-color: var(--color-foreground-secondary);
                    }

                    div[data-content='true'] {
                        font-weight: 600;
                    }

                    div[data-icon='true'] {
                        font-size: 0.85em;

                        svg {
                            display: block;
                            stroke-width: 0.05em;
                        }
                    }
                }
            }
        }
    }
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--layout-block-padding) / 2);

    .setting {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-block-padding);
        width: 100%;

        &:is(a, button):is(:hover, :active) {
            .action {
                color: var(--color-accent-primary);
            }
        }

        .action {
            padding: 0;

            background: none;

            font-size: 1.15em;

            border-width: 0;
            border-radius: 0;

            &:is(:hover, :active) {
                background: none;

                color: var(--color-accent-primary);
            }
        }
    }
}

.split-view {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--layout-block-padding) * 2);

    @media (min-width: $breakpoint-mobile) {
        grid-template-columns: 1fr 22rem;
        gap: var(--layout-block-padding);
    }

    main,
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: var(--layout-block-padding);

        .section,
        & > section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            gap: calc(var(--layout-block-padding) / 4);

            form {
                display: flex;
                flex-direction: column;
                gap: calc(var(--layout-block-padding) / 2);
            }

            textarea {
                width: 100%;
                min-height: 18rem;

                resize: vertical;
            }
        }
    }
}

.blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layout-block-padding);

    @media (min-width: $breakpoint-mobile) {
        gap: calc(var(--layout-block-padding) * 2);
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        flex-grow: 1;

        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            gap: calc(var(--layout-block-padding) / 4);
            flex-grow: 1;

            width: 100%;
        }
    }
}

.shop-selector {
    display: flex;
    flex-direction: column;
    width: 24rem;
    max-width: 100%;
    margin: 0 auto;
    gap: var(--layout-section-spacing);

    .card-header {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 4);
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-section-spacing) / 2);

        .button {
            flex-grow: 1;

            width: 100%;
            padding: var(--layout-block-padding) var(--layout-block-padding-half);

            font-size: 1em;
        }
    }
}
