@import 'destyle.css';
@import '_text';

html,
body {
    padding: 0;
    margin: 0;
    
    background: #000000;
    foreground: #fefefe;

    font-family: var(--font-primary);
    font-weight: 500;

    [data-sonner-toaster] {
        font-family: inherit;
    }
}

:root {
    --color-success: #04e762;
}

input {
    &[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield !important;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type='search']:is(
            ::-webkit-search-decoration,
            ::-webkit-search-cancel-button,
            ::-webkit-search-results-button,
            ::-webkit-search-results-decoration
        ) {
        appearance: none;
        -webkit-appearance: none;
    }
}
