@import 'destyle.css';
@import '_text';

html,
body {
    width: 100%;
    max-width: 100vw;
    background: var(--color-background, #000000);
    color: var(--color-foreground, #fefefe);
    font-size: 14px;
}

:root {
    --color-accent-primary: #ed1e79;
    --color-success: #04e762;
    --block-border-radius: 0.45rem;
}

input {
    &[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield !important;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type='search']:is(
            ::-webkit-search-decoration,
            ::-webkit-search-cancel-button,
            ::-webkit-search-results-button,
            ::-webkit-search-results-decoration
        ) {
        appearance: none;
        -webkit-appearance: none;
    }
}
