@import '../../scss/app';

.SearchHeader {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    width: 100%;
    background: $color-white;
    border-bottom: 0.05rem solid $color-silvery;
    box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);

    @media (max-width: 950px) {
        padding: 1rem 0px;
    }

    @media (min-width: 950px) {
        border-bottom: 1rem solid $color-primary;
    }

    .SearchHeader-Content {
        overflow-y: auto;
        display: grid;
        width: 100%;
        max-width: calc(#{$width-max-page} - 4rem);
        margin: 1.5rem;

        @media (max-width: 950px) {
            padding: 0px 1rem;
            margin: 0px;
        }

        @media (max-width: 1148px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 950px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $width-max-mobile) {
            grid-template-columns: 1fr;
            margin: 2rem 0px 0px 0px;
        }
    }
}
