.add-note {
    padding: var(--block-padding-small) 0 0 0;
    text-align: left;
}

.container {
    .lines {
        --discount-prefix: '-';

        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .breakdown {
            font-size: 1.5rem;
            font-weight: 500;

            @media (min-width: 920px) {
                font-size: 1.35rem;
            }

            .money {
                font-weight: 700;
                font-size: 1rem;
                line-height: 1;
                align-self: flex-start;
            }
        }
    }

    .shop-button {
        --shop-pay-button-height: 3rem;

        overflow: hidden;
    }
    .checkout-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: var(--block-padding-large);
        border-radius: var(--block-border-radius);
        line-height: normal;

        .icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: -2rem;
            padding: 0.25rem 0 0.25rem 0.25rem;

            stroke-width: 0.25em;
            line-height: 1;

            transition: 250ms ease-in-out;
            transform: translateX(-25%);
            opacity: 0;
        }

        &:not(:disabled):is(:hover, :active, :focus, :focus-within) {
            gap: var(--block-padding-small);

            .icon {
                width: 2.5rem;
                margin-left: 0;

                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    padding: var(--block-padding-large);
    border-radius: var(--block-border-radius);
    background-color: var(--color-block);
    color: var(--color-dark);
    transition: 150ms ease-in-out;

    &.section-security {
        text-align: center;
        margin-top: var(--block-spacer-huge);
    }

    &.section-actions {
        padding: 0;
        background-color: unset;
    }

    .header,
    .line-item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-rows: 1fr;
        gap: var(--block-spacer);
        align-items: space-between;
        justify-content: center;
        height: 100%;
        color: var(--color-dark);

        .label,
        .money {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        .label {
            align-items: flex-end;
        }
    }

    .header {
        .label {
            font-weight: 500;
        }
    }

    .line-item {
        line-height: 1;

        .money {
            font-weight: 800;
        }

        &.breakdown {
            .label {
                text-transform: capitalize;
            }
        }
    }
}

.discounted {
    .money {
        z-index: 1;
        position: relative;
        color: var(--color-green-dark);

        &::before {
            content: var(--discount-prefix);
        }

        &::after {
            content: '';
            z-index: -2;
            position: absolute;
            inset: 0.05em -0.35em;
            padding: 0 var(--block-padding-small);
            background: var(--color-green-light);
            color: var(--color-green);
            border-radius: var(--block-border-radius-tiny);
            pointer-events: none;
        }
    }

    &.shipping .money::before {
        content: '';
    }
}

.totals {
    margin-top: var(--block-padding-small);
    border-top: calc(var(--block-border-width) / 1.5) dotted var(--color-gray);

    .label {
        font-size: 1rem;
        align-self: flex-end;
    }

    .money {
        font-weight: 700;
        font-size: 1.25rem;
    }
}
