@import '_globals.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer-small);
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;

    // See https://web.dev/articles/content-visibility
    content-visibility: auto;
    contain-intrinsic-size: auto;

    &:empty {
        display: none;
    }

    &.primary {
        padding: calc(var(--block-spacer-large) * 2) var(--block-spacer-large);
        gap: calc(var(--block-spacer-large) * 1.5);
    }
}
