@import "../../scss/app";

.ProductBadges {
    display: flex;
    align-items: flex-end;
    margin: 0.25rem 0px 0.25rem 0px;
    text-transform: uppercase;
    font-weight: 700;

    .ProductBadges-Badge {
        flex-grow: 0;
        margin-right: 0.5rem;
        color: $color-primary-dark;
        border-radius: 2rem;
    }
}
