@import "../../../src/scss/_app.scss";

.AccountLoginPage {
    .AccountLoginPage-Container {
        margin-top: 2rem;

        .AccountLoginPage-Container-Box {
            width: 32rem;
            max-width: calc(100% - 4rem);

            @media (max-width: $width-max-mobile) {
                width: 100%;
                max-width: 100%;
            }

            .Input {
                height: 4rem;
                margin-bottom: 2rem;
                background: $color-silvery;
            }

            .Link {
                display: block;
                font-size: 1.25rem;
                font-weight: 800;
                margin: 2rem 0px 0px 0px;
                color: $color-dark;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}
