.background-primary {
    background: var(--accent-primary);
    color: var(--accent-primary-text);
}
.background-secondary {
    background: var(--accent-secondary);
    color: var(--accent-secondary-text);
}

.color-primary {
    color: var(--accent-primary);
}
.color-secondary {
    color: var(--accent-secondary);
}
