@import 'global.scss';

// Components
// @import '../components/Currency/Currency.scss';
@import 'carousel.scss';

html,
body {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: always;
    -webkit-font-smoothing: always;
    font-smooth: always;
    overscroll-behavior-x: none;
    font-size: 11px;
    font-family: var(--font-primary);
    touch-action: manipulation;
    text-size-adjust: auto;
    color: var(--color-dark);
    background: var(--color-bright);

    @media screen and (max-width: 950px) {
        font-size: 10px;
    }

    .zEWidget-launcher {
        z-index: 1 !important;
        margin: 2rem !important;
    }

    // TODO: Figure out a way to stop this from blocking elements.
    #dummy-chat-button-iframe {
        right: 2rem !important;
        bottom: 2rem !important;

        @media screen and (max-width: 950px) {
            right: 1.75rem !important;
            bottom: 3rem !important;
        }
    }
}

:root {
    --accent-primary-dark: color-mix(in srgb, var(--accent-primary) 65%, var(--color-dark));
    --accent-primary-light: color-mix(in srgb, var(--accent-primary) 75%, var(--color-bright));

    --accent-secondary-dark: color-mix(in srgb, var(--accent-secondary) 60%, var(--color-dark));
    --accent-secondary-light: color-mix(in srgb, var(--accent-secondary) 40%, var(--color-bright));

    --accent-primary-text: #ececec;
    --accent-secondary-text: #101418;

    --color-bright: #fefefe;
    --color-dark: #101418;

    --color-sale: #b51200;

    --color-success: #3b9e3b;
    --color-success-light: color-mix(in srgb, var(--color-success) 65%, var(--color-bright));
    --color-danger: #a53d3a;

    --color-lights-out: #051821;

    --color-block: #e6e6e6;
    --color-block-shadow: rgba(0, 0, 0, 0.35);

    --color-gray: #989898;
    --color-green: #1b6e1b;
    --color-green-light: #e1faea;

    --color-block-pastel-lime: #cce2cb;
    --color-block-pastel-lime-light: color-mix(in srgb, var(--color-block-pastel-lime) 65%, var(--color-bright));
    --color-block-pastel-lime-dark: color-mix(in srgb, var(--color-block-pastel-lime) 8%, var(--color-dark));

    --component-product-card-width: 22rem;

    --page-width: 1465px;

    --block-border-radius-large: 2rem;
    --block-border-radius: 1.25rem;
    --block-border-radius-small: calc(var(--block-border-radius) * 0.75);
    --block-border-radius-tiny: 0.65rem;
    --block-border-width: 0.35rem;

    --block-padding: 1rem;
    --block-padding-small: 0.5rem;
    --block-padding-large: 1.5rem;

    --block-spacer: 1rem;
    --block-spacer-small: 0.75rem;
    --block-spacer-tiny: 0.5rem;
    --block-spacer-large: 1.5rem;

    @media (max-width: 950px) {
        --component-product-card-width: 20rem;

        --block-border-width: 0.35rem;

        --block-padding: 1rem;
        --block-padding-small: 0.5rem;
        --block-padding-large: 1.5rem;

        --block-spacer: 0.75rem;
        --block-spacer-small: 0.5rem;
        --block-spacer-large: 1rem;
    }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
