.navigation {
    overflow-y: scroll;
    overscroll-behavior-y: auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--block-spacer-large) * 2);
    height: 100%;
    width: 100%;
    padding: var(--block-padding);

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--block-spacer-large) * 1.5);
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.75rem;
        font-weight: 700;

        a {
            transition: 150ms ease-in-out;

            &.active {
                color: var(--accent-primary);
                font-weight: 700;
            }
        }
    }

    .sub-item {
        padding-left: calc(var(--block-spacer-large) * 1.5);
        font-size: 2.25rem;
        line-height: 2.5rem;

        &:last-child {
            padding-bottom: 0.5rem;
        }

        .title {
            font-weight: 500;
        }

        .description {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.75rem;
            opacity: 0.75;
            margin-top: 0.25rem;
            max-width: 60vw;
        }
    }
}
