@import '_globals.scss';

.container {
    position: fixed;
    inset: 7rem 0 0 -105vw;
    display: flex;
    flex-grow: 1;

    z-index: 5;
    width: 38rem;
    max-width: 100vw;
    height: calc(100vh - 7.5rem);
    height: calc(100dvh - 7.5rem);
    padding: var(--block-padding) var(--block-padding) var(--block-padding-large) var(--block-padding);

    background: var(--accent-secondary-light);
    border-right: var(--block-border-width) solid var(--accent-secondary-dark);
    color: var(--color-dark);
    transition: 150ms ease-in-out all;
    box-shadow: 1rem 1rem 1rem -0.5rem var(--color-block-shadow);
    pointer-events: none;

    @media (min-width: $breakpoint-header) {
        display: none;
    }
}

[data-menu-open='true'] .container {
    pointer-events: unset;
    left: 0;
}
