@import 'globals';

.container {
    @media (max-width: $breakpoint-mobile) {
        --component-product-card-width: auto;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: inherit;

        padding: var(--block-padding-large) 0;
    }

    .content {
        padding-top: var(--block-padding-large);
    }
}
