@import 'globals';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer-small);
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;

    font-size: 16px;

    // See https://web.dev/articles/content-visibility
    //content-visibility: auto;
    contain-intrinsic-size: auto none;

    &:empty {
        display: none;
    }

    &.primary {
        padding: var(--block-spacer-large);
        gap: calc(var(--block-spacer-large) * 1.5);
    }
}

body .container.primary:first-of-type {
    min-height: calc(100vh - 10rem);

    @media (min-width: $breakpoint-mobile) {
        min-height: calc(100vh - 14rem);
    }
}
