@import 'globals';

.container {
    // See https://web.dev/articles/content-visibility
    //content-visibility: auto;
    contain-intrinsic-size: auto none;
}

body .container.primary:first-of-type {
    min-height: calc(100vh - 10rem);

    @media (min-width: $breakpoint-mobile) {
        min-height: calc(100vh - 14rem);
    }
}
