@import '../../../../scss/app';

.Slice-SectionHeader {
    text-transform: uppercase;
    padding-bottom: 1rem;

    .Slice-SectionHeader-Title {
        line-height: 2.5rem;
        font-size: 1.75rem;
        margin: 0.25rem 0px;
        font-weight: 700;
        color: $color-dark;
    }
    .Slice-SectionHeader-Subtitle {
        line-height: 1.45rem;
        font-size: 1.15rem;
        font-weight: 700;
        color: $color-dark;
    }
}
