@import 'globals';

.container {
    .heading {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: calc(var(--layout-block-padding) / 2);
        width: 100%;
        max-width: 100%;
    }

    .content {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        grid-auto-rows: 1fr;
        gap: var(--layout-block-padding);
        width: 100%;
        max-width: 100%;
        margin-top: calc(var(--layout-section-spacing) * 2);

        .section {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(var(--layout-block-padding) / 4);

            &:is(a) {
                -webkit-user-select: none;
                user-select: none;

                &,
                h3,
                p {
                    transition:
                        200ms ease-in-out border-color,
                        200ms ease-in-out background-color,
                        200ms ease-in-out color;
                }

                h3.item {
                    color: hsl(var(--color-foreground));
                }

                &:is(:hover):not(:disabled) {
                    border-color: hsl(var(--color-foreground));
                }
                &:is(:active, :focus):not(:disabled) {
                    color: hsl(var(--color-foreground));
                    border-color: hsl(var(--color-foreground));
                }

                &:is(:hover, :active, :focus, :focus-within):not(:disabled) {
                    h3,
                    p {
                        color: hsl(var(--color-foreground));
                    }
                }
            }

            h3 {
                color: var(--color-foreground-secondary);
                font-size: 1em;
            }
            p {
                color: var(--color-foreground-secondary);
                font-size: 1em;
            }

            h3,
            p {
                word-break: break-all;
                white-space: pre-wrap;
                -webkit-hyphens: auto;
                hyphens: auto;
                line-height: normal;
            }
        }
    }
}
