@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes forward-pulse {
    0%,
    100% {
        transform: scale(1) scaleY(1.05) translateX(-0.25rem);
    }
    50% {
        transform: scale(1.2) scaleY(0.8) translateX(0.75rem);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}
