@import 'globals';

// FIXME: Make this generic.
.container {
    overflow-x: auto;
    animation: scroll-shadow-inset linear;
    animation-timeline: scroll(self inline);
}

@keyframes scroll-shadow-inset {
    from {
        box-shadow: inset -15px 0px 15px -15px var(--scroll-bar-color, rgb(0 0 0 / 0.95));
    }
    to {
        box-shadow: inset 15px 0px 15px -15px var(--scroll-bar-color, rgb(0 0 0 / 0.95));
    }
}
