@import '../../../../scss/app';

.Slice.Slice-Carousel {
    width: 100%;
    overflow-y: hidden;

    .Link {
        display: block;
        max-width: 100%;

        .Image {
            display: block;
            max-width: 100%;
        }
    }
}
