@import '../../../../scss/app';

.Slice.Slice-Carousel {
    width: 100vw !important;
    max-width: 100%;
    overflow-y: hidden;

    span {
        cursor: pointer;
    }

    &.Index-0 {
        margin-top: -1rem;
        margin-bottom: -0.75rem;

        @media (max-width: 950px) {
            margin-top: -2rem;
        }
    }

    .Link {
        display: block;
        max-width: 100%;
        cursor: pointer;

        .Image {
            display: block;
            max-width: 100%;
            cursor: pointer;
        }
    }
}
