@import 'globals';
@import 'text';

:root {
    --font-fallback:
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
    --color-success: #04e762;
}

html {
    font-family: var(--font-primary, var(--font-fallback));
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto minmax(calc(100vh - 14rem), auto) auto;
    grid-template-columns: 100%;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    max-width: 100vw;

    background: #000000;
    color: #fefefe;

    font-weight: 500;
    font-size: 16px;

    [data-sonner-toaster] {
        font-family: inherit;
        font-size: 1rem;
    }
}

input,
textarea,
select {
    &[type='number'] {
        -moz-appearance: textfield !important;
        appearance: textfield;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type='search']:is(
            ::-webkit-search-decoration,
            ::-webkit-search-cancel-button,
            ::-webkit-search-results-button,
            ::-webkit-search-results-decoration
        ) {
        -webkit-appearance: none;
        appearance: none;
    }
}

hr {
    margin: var(--layout-block-padding-half) 0;

    border: 0;
    border-top: var(--border-width) solid var(--color-background-highlight);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--layout-block-padding-half);
}

#nprogress {
    pointer-events: none;

    .bar {
        background: var(--accent-primary-light);
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--block-spacer) !important;
    }
}
