@import "../../scss/app";

.ProductVariantPackages {
    display: flex;
    flex-direction: column;
    padding: 1rem 0px 0px 0px;
    border-bottom: 0.05rem solid $color-silvery;

    .ProductVariantPackages-Variant {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: $block-border-radius;
        background: $color-silvery;
        border: 0.2rem solid $color-silvery;
        color: $color-black;
        cursor: pointer;
        transition: 250ms ease-in-out;
        text-transform: uppercase;
        font-weight: 700;
        user-select: none;

        .VariantIcon {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 2.5rem;
            height: 100%;
            margin-right: 1rem;
            background-size: 2.5rem 2.5rem;
            background-repeat: no-repeat;
            background-position: center left;
            font-size: 1.25rem;
        }

        .ProductVariantPackages-Variant-Content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;

            .ProductVariantPackages-Variant-Content-Title {
                font-size: 1.25rem;
            }

            .ProductVariantPackages-Variant-Content-Meta {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;

                .Currency {
                    font-size: 1.25rem;
                }
            }
        }

        &.ProductVariantPackages-Variant-Selected {
            border-color: $color-primary;
            color: $color-primary;
        }

        @media (min-width: $width-max-mobile) {
            &:hover, &:active {
                border-color: $color-primary;
                color: $color-primary;
            }
        }
    }
}
