@import 'globals';

.options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer);
    height: 100%;

    @media (min-width: $breakpoint-mobile) {
        display: grid;
        grid-template-areas: 'quantity-label options' 'quantity options' '. options';
        grid-template-rows: auto 3rem 1fr;
        grid-template-columns: auto 1fr;
        gap: calc(var(--block-spacer-small) / 2) var(--block-spacer-large);
    }

    .product-options {
        grid-area: options;

        display: flex;
        flex-direction: column;
        gap: var(--block-spacer);

        height: 100%;

        @media (max-width: $breakpoint-mobile) {
            &:has([data-options='1']) {
                display: none;
            }
        }

        @media (min-width: $breakpoint-mobile) {
            gap: calc(var(--block-spacer-small) / 2) var(--block-spacer-large);
        }

        label,
        .label,
        label.label {
            line-height: 1.15;
        }
    }
}

.button {
    min-height: 3.5rem;
    font-size: 1rem;
}
