@import 'globals';

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--block-spacer);

    &:empty {
        display: none;
    }

    .item {
        appearance: none;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        align-items: center;

        min-height: 2.5rem;
        padding: var(--block-padding-small) var(--block-padding);
        border: var(--block-border-width) solid var(--color-block);
        border-radius: var(--block-border-radius);

        cursor: pointer;

        &:is(:active, :focus, :focus-within, :hover):not(:disabled, .selected) {
            border-color: var(--color-block-dark);
        }

        &:is(.selected) {
            background-color: var(--accent-primary);
            border-color: var(--accent-primary-dark);
            color: var(--accent-primary-text);
        }

        .percentage {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .quantity {
            font-size: 1.5rem;
        }
    }
}
