@import 'globals';

.container {
    overflow: hidden;
    overflow: clip;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    transition: 150ms ease-in-out border-color;
    -webkit-user-select: none;
    user-select: none;

    text-transform: uppercase;
    font-weight: 600;

    &:not(:has(input:disabled)) .button {
        &:disabled {
            cursor: not-allowed;
        }
    }

    &:has(input:disabled) {
        cursor: progress;
    }

    .button,
    .input {
        -webkit-appearance: none;
        appearance: none;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 100%;
        min-height: calc(2.5rem - var(--block-border-width) * 2);

        border: none;
        outline: none;

        font-size: 1rem;
        font-variant: common-ligatures tabular-nums slashed-zero;
        text-align: center;
        transition:
            150ms ease-in-out background-color,
            150ms ease-in-out color;

        svg {
            height: 100%;

            font-size: 0.75em;
            stroke-width: 1.25;
        }

        &:disabled {
            color: var(--color-block);
        }
    }

    .input {
        width: 100%;
        height: 100%;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button,
        &[type='number'] {
            -webkit-appearance: none;
            margin: 0;
        }

        &::placeholder {
            display: none;
            color: transparent;
        }
    }

    .button {
        height: 100%;
        width: 3rem;

        line-height: normal;
        font-weight: 700;
        font-size: 1rem;

        @media (min-width: $breakpoint-mobile) {
            font-size: 1rem;
        }

        &:is(:hover, :active):not(:disabled) {
            cursor: pointer;
        }

        &:is(:active):not(:disabled) {
            transition: 50ms ease-in-out background-color;
            color: var(--accent-primary-text);
            background-color: var(--accent-primary-light);
        }

        @media (pointer: fine) {
            &:is(:hover):not(:disabled, :active) {
                background-color: var(--color-block);
            }
        }
    }
}
