@import '../../scss/app';

.HeaderNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 6rem;
    top: calc(6rem + env(safe-area-inset-top));
    width: 100%;
    background: $color-primary-light;
    border-bottom: 0.05rem solid $color-primary-dark;

    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);

    .HeaderNavigation-Content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: $width-max-page;
        height: 5rem;
        padding: 0px 2rem;
        overflow-x: auto;

        @media (max-width: 950px) {
            padding: 0px 1rem;
        }

        .Link {
            margin-right: 2.5rem;
            margin-bottom: -0.2rem;
            text-transform: uppercase;
            color: $color-text-primary;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.05rem;
            transition: 150ms;
            border-bottom: 0.2rem solid transparent;

            @media (min-width: $width-max-mobile) {
                &:hover,
                &:active {
                    border-bottom-color: $color-text-primary;
                }
            }
        }
    }
}
