@import '../../scss/app';

.HeaderNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 5rem;
    top: calc(5rem + env(safe-area-inset-top));
    width: 100%;
    //background: #efefef;
    border-bottom: 0.5rem solid var(--accent-primary);
    //box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);

    @media (min-width: $width-max-mobile) {
        display: none;
    }

    .HeaderNavigation-Content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: $width-max-page;
        height: 4rem;
        padding: 0px 1.5rem;
        overflow-x: auto;

        @media (max-width: 950px) {
            padding: 0px 1.5rem;
        }

        .Link {
            margin-right: 2.5rem;
            margin-bottom: -0.2rem;
            text-transform: uppercase;
            //color: $color-text-primary;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            transition: 150ms;
            border-bottom: 0.2rem solid transparent;
            transition: 250ms ease-in-out;

            &:hover,
            &:active {
                color: var(--accent-primary);
            }
        }
    }
}
