@import "../../scss/app";

.Paginatior {
    margin: 2rem 0px;

    @media (max-width: $width-max-mobile) {
        margin: 2rem 0px 1rem 0px;
    }

    .Paginatior-Content {
        display: flex;

        @media (max-width: $width-max-mobile) {
            white-space: nowrap;
            overflow-x: auto;
            flex-wrap: nowrap;
        }

        .Paginatior-Content-Step {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 1rem;
            background: $color-silvery;
            font-weight: 700;
            cursor: pointer;
            transition: 250ms all ease-in-out;

            @media (max-width: $width-max-mobile) {
                min-width: 3.5rem;
                min-height: 3.5rem;
            }

            &.Paginatior-Content-Step-Selected {
                background: $color-primary;
                color: $color-text-primary;
            }
            
            @media (min-width: $width-max-mobile) {
                &:hover {
                    background: $color-primary;
                    color: $color-text-primary;
                }
            }
        }
    }
}
