@import '../../scss/app';

.Alert {
    &.Alert-info {
        background-color: $color-info;
    }
    &.Alert-error {
        background-color: $color-error;
    }

    @media (max-width: $width-max-mobile) {
        width: calc(100vw - 2rem);
        max-width: calc(100vw - 2rem);
    }
}

#__react-alert__ {
    div:first-of-type {
        margin-top: 11rem;

        div {
            margin-top: unset;
        }
    }
}
