@import 'globals';

[data-scrolled='true'] .container {
    box-shadow: 0 -0.25rem 1.25rem 0.15rem var(--color-block-shadow);
}

.container {
    --header-height: 6.5rem;

    z-index: 10;

    position: sticky;
    inset: 0 auto auto auto;

    width: 100%;

    background-color: var(--color-accent-secondary-light);
    color: var(--color-accent-secondary-text);
    //border-bottom: var(--block-border-width-tiny) solid var(--color-accent-secondary);
    //border-top: 3rem solid var(--color-accent-primary);

    font-size: 16px;

    -webkit-user-select: none;
    user-select: none;

    .content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: center;
        align-items: center;
        gap: calc(var(--block-spacer-huge) * 2);

        height: var(--header-height);
        max-height: var(--header-height);
        width: 100%;
        max-width: var(--page-width);
        padding: var(--block-spacer) var(--block-spacer-large);
        margin: 0 auto;

        .logo {
            display: flex;
            overflow: hidden;

            height: 100%;
            width: 100%;
            margin: 0;
            padding: var(--block-spacer-tiny) 0;

            border-radius: var(--block-border-radius);

            img {
                height: 100%;
                width: 100%;

                object-fit: contain;
                object-position: left center;
            }
        }

        .actions {
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
        }

        .menu {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;

            gap: 0;

            width: 100%;
            height: fit-content;
            max-height: var(--header-height);

            font-weight: 600;

            .entry {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;

                height: var(--header-height);
                margin: calc(var(--block-spacer) * -1) 0 calc(var(--block-spacer) * -1) 0;

                font-weight: 700;
                font-size: 1.75rem;

                & > .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 100%;
                    width: 100%;
                    padding: 0 var(--block-padding-large);

                    &:is(:hover, :focus, :focus-within) {
                        background-color: var(--color-accent-primary);
                        color: var(--color-accent-primary-text);
                    }
                }
            }
        }

        .menu .entry {
            .mega-menu {
                opacity: 0;
                pointer-events: none;
                visibility: collapse;
            }
        }

        .menu .entry {
            &:is(:hover, :focus, :focus-within) {
                background-color: var(--color-accent-primary);
                color: var(--color-accent-primary-text);

                .mega-menu {
                    opacity: 1;
                    pointer-events: all;
                    visibility: visible;
                }
            }
        }
    }
}
