@import '../../scss/app';

.PageContent {
    width: 100%;
    max-width: calc(#{$width-max-page} - 4rem);
    margin: 0.75rem auto 0.75rem auto;

    @media (max-width: $width-max-page) {
        padding: 0px 1rem;
    }

    @media (max-width: 950px) {
        padding: 0px 1rem;
    }

    &.PageContent-NoPadding {
        padding: 0px;
    }
}
