@import '@/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer-large);

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'content' 'sidebar';
        gap: var(--block-spacer-large);
        max-width: 100%;

        @media (min-width: $breakpoint-mobile) {
            grid-template-columns: 1fr minmax(auto, 36rem);
            grid-template-rows: 1fr;
            grid-template-areas: 'content sidebar';
        }

        .lines {
            grid-area: content;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: var(--block-spacer-large);
            width: 100%;
        }

        .sidebar {
            grid-area: sidebar;
            display: block;
        }
    }
}
