@import '_globals.scss';

.articles {
    --article-background: var(--color-bright);
    --article-border: var(--color-block-dark);

    display: grid;
    grid-template-columns: 1fr;
    //grid-auto-rows: 1fr;
    gap: var(--block-spacer-large);
    padding-top: calc(var(--block-spacer-large) * 2);

    @media (min-width: $breakpoint-mobile) {
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    }

    .article {
        position: relative;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        margin-bottom: var(--block-spacer);

        @media (min-width: $breakpoint-mobile) {
            display: grid;
            grid-template-rows: auto auto 1fr auto;
            padding: var(--block-padding-large);
            margin: 0;
            background: var(--article-background);
            border: var(--block-border-width) solid var(--article-border);
            border-radius: var(--block-border-radius);
        }

        .date {
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 1.2;
            text-transform: uppercase;
            color: var(--color-block-black);

            @media (min-width: $breakpoint-mobile) {
                font-size: 1.5rem;
            }
        }
        .title {
            font-weight: 700;
            font-size: 2.5rem;
            line-height: normal;
            margin: var(--block-spacer-small) 0 var(--block-spacer) 0;

            @media (min-width: $breakpoint-mobile) {
                margin: calc(var(--block-spacer-small) / 2) 3.5rem var(--block-spacer) 0;
                font-size: 2rem;
                line-height: 1;
            }
        }
        .excerpt {
            font-size: 1.75rem;
            font-weight: 400;
            line-height: normal;

            @media (min-width: $breakpoint-mobile) {
                font-size: 1.5rem;
                line-height: 1.2;
            }
        }
        .actions {
            margin-top: var(--block-spacer-large);

            @media (max-width: $breakpoint-mobile) {
                margin-top: var(--block-spacer);
            }

            .action {
                // TODO: Fix the design.
                display: none;

                width: 100%;
                height: 4.5rem;
                border-radius: var(--block-border-radius);
                text-transform: capitalize;

                @media (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }
        }

        .authors {
            position: absolute;
            inset: var(--block-padding) var(--block-padding) auto auto;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }

            .author {
                overflow: hidden;
                border: var(--block-border-width) solid var(--article-background);
                border-radius: 100%;
                height: 3rem;
                aspect-ratio: 1 / 1;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
