@import 'globals';

.header {
    display: grid;
    grid-template-areas: 'banner' 'title' 'date';
    grid-template-rows: 1fr;

    width: $breakpoint-mobile;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: var(--block-padding);

    @media (min-width: $breakpoint-mobile) {
        grid-template-areas: 'title' 'date' 'banner';
    }

    h1 {
        grid-area: title;

        line-height: normal;
        font-size: 2em;
        line-height: 1;
        margin-bottom: var(--block-spacer);

        @media (min-width: $breakpoint-mobile) {
            max-width: 62rem;
        }
    }

    .date {
        grid-area: date;

        padding-bottom: var(--block-padding);

        font-size: 1em;

        border-bottom: var(--block-border-width) solid var(--color-block);

        @media (min-width: $breakpoint-mobile) {
            margin-bottom: var(--block-spacer-large);
        }
    }

    .banner {
        grid-area: banner;
        display: block;

        width: 100vw;
        height: 18rem;
        --margin-fix: calc(var(--block-spacer-large) * 2 * -1);
        margin: calc(var(--margin-fix) * 2) var(--margin-fix) 0 var(--margin-fix);

        object-fit: cover;
        object-position: center;

        @media (max-width: $breakpoint-mobile) {
            max-inline-size: unset;
        }

        @media (min-width: $breakpoint-mobile) {
            width: 100%;
            height: 22rem;
            margin: 0;
        }
    }
}

.content {
    width: $breakpoint-mobile;
    max-width: 100%;
    margin: 0 auto;

    font-size: 16px;

    p {
        font-size: 1.15em;
    }

    img {
        margin-bottom: 0;
    }
}
