.locale {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: stretch;
    align-items: center;
    gap: var(--block-spacer-large);
    width: 100%;
    padding: var(--block-padding);
    border: var(--block-border-width) solid var(--color-block);
    border-radius: var(--block-border-radius);
    background: var(--color-block);
    transition: 150ms ease-in-out;
    cursor: pointer;

    &.active {
        color: var(--accent-primary);
        border-color: var(--accent-primary);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: var(--accent-secondary);
            background: var(--accent-secondary-light);
            color: var(--accent-secondary-text);
        }
    }
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--block-spacer);
    padding: var(--block-spacer-small) 0 var(--block-spacer-large) 0;

    @media (min-width: 920px) {
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    }

    .flag {
        position: relative;
        overflow: hidden;
        height: 2rem;
        width: 2rem;
        border-radius: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
