@import 'globals';

.container {
    --padding: calc(var(--block-padding) - var(--block-border-width) * 2);

    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: var(--block-spacer-small);

    height: 100%;
    width: 100%;
    min-width: var(--component-product-card-width);

    font-size: 16px;

    color: var(--product-card-color-foreground, var(--accent-secondary-text));

    scroll-snap-align: center;
    /*contain-intrinsic-size: var(--component-product-card-width) auto;
    content-visibility: auto;*/

    &[data-available='false'] {
        opacity: 0.75;
        filter: brightness(0.85);

        background: var(--color-block);
        border-color: var(--color-block) !important;
        color: var(--color-dark);

        .actions {
            display: none;
        }
    }

    @media (min-width: $breakpoint-mobile) {
        --padding: var(--block-padding-small);
    }

    [data-pricing] {
        display: inline-block;

        font-size: 1.1em;
        line-height: 1.05;
        font-weight: 700;

        @media (min-width: $breakpoint-mobile) {
            font-size: 1.15em;
            line-height: normal;
        }
    }

    &:is(:has([data-variant='discount'])) {
        border-color: var(--color-sale);

        :is([data-pricing]) {
            font-weight: 850;
            color: var(--color-sale);
        }
    }

    @media (min-width: $breakpoint-mobile) {
        min-height: 17rem;
        box-shadow: 0 0 0.5rem -0.25rem var(--color-block-shadow);
    }

    .header {
        display: grid;
        grid-template-rows: 1fr auto auto;
        justify-content: stretch;
        align-items: flex-start;

        height: 100%;
        width: 100%;

        text-align: left;

        .image {
            width: 100%;
            height: 7rem;
            padding: calc(var(--padding) * 1.75) var(--padding);

            background-color: var(--color-bright);

            object-fit: contain;
            object-position: center;

            //transition: $animation-duration ease-in-out transform;

            @media (min-width: $breakpoint-mobile) {
                height: 8rem;
            }
        }
        &:is(:hover, :active, :focus) .image {
            //transform: scale(1.1);
        }
    }

    .body {
        display: grid;
        grid-template-rows: 1fr auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .variants {
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: var(--block-spacer-tiny);

        width: 100%;
        height: 100%;
        height: fit-content;
        padding-top: var(--block-spacer-huge);

        font-size: 0.875rem;

        @media (min-width: $breakpoint-mobile) {
            padding-top: var(--block-spacer-large);
        }

        &:empty {
            display: none;
        }

        .variant {
            -webkit-appearance: none;
            appearance: none;
            display: inline-block;

            padding: var(--block-padding-small) var(--block-padding);

            font-weight: 600;
            font-size: 0.85em;
            line-height: normal;
            text-align: right;

            cursor: pointer;
            opacity: 0.65;
            transition:
                $animation-duration ease-in-out color,
                $animation-duration ease-in-out background-color;
            border-radius: var(--block-border-radius);

            &[data-active='true'] {
                opacity: 1;
                background: var(--color-accent-primary);
                color: var(--color-accent-primary-text);
            }
        }
    }

    &[data-skeleton] {
        display: block;

        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 16rem;

        box-shadow: none;
    }
}

/* TODO: Move these into it's own component. */
.badges {
    position: absolute;
    inset: 0;

    z-index: 1;
    pointer-events: none;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--block-spacer-small);
}
.badge {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--block-spacer-small) / 2);
    padding: var(--block-padding);

    background: var(--accent-primary-light);
    color: var(--accent-primary-text);

    border-bottom-left-radius: var(--block-border-radius);

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 0.125rem var(--color-dark);

    &[data-variant='discount'] {
        z-index: 1;
        position: absolute;
        --inset: var(--block-spacer-small);
        inset: var(--inset) auto auto var(--inset);
        justify-content: center;
        align-items: center;

        gap: var(--block-spacer-tiny);

        pointer-events: none;
        background: var(--color-sale);
        color: var(--color-bright);
        border-radius: var(--block-border-radius-large);
        box-shadow: 0 0 0.25rem 0.025rem var(--color-block-shadow);

        b {
            display: block;
            font-weight: 700;
        }
    }

    &[data-variant='new'] {
        background: var(--accent-primary-light);
        color: var(--accent-primary-text);
    }
    &[data-variant='vegan'] {
        background: rgba(var(--color-green-rgb), 0.9);
        color: var(--color-bright);
        text-shadow: 0 0 0.125rem var(--color-dark);
    }
}
