@import '../../scss/app';

html,
body {
    width: 100%;
    max-width: 100vw;
    padding: 0px;
    -moz-osx-font-smoothing: always;
    -webkit-font-smoothing: always;
    font-smooth: always;
    overscroll-behavior-x: none;
    font-size: 12px;
    touch-action: manipulation;
    color: var(--color-text-primary);
    text-size-adjust: none;

    @media screen and (max-width: 950px) {
        font-size: 10px;
    }

    .zEWidget-launcher {
        z-index: 1 !important;
        margin: 2rem !important;
    }

    #dummy-chat-button-iframe {
        right: 2rem !important;
        bottom: 2rem !important;

        @media screen and (max-width: 950px) {
            right: 1.75rem !important;
            bottom: 3rem !important;
        }
    }
}

.PageProvider {
    overscroll-behavior-x: none;
    background: var(--accent-primary);
    background: linear-gradient(
        180deg,
        var(--accent-primary-extra-light) 0%,
        var(--accent-primary) 100%
    );

    &.SideBar-Open {
        @media screen and (max-width: 950px) {
            height: 100vh;
            height: 100dvh;
            overflow: hidden;
        }
    }
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: $color-secondary-dark;
    position: fixed;
    z-index: $int-max;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
}
