@import "../../scss/app";

.ProductFilters {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    user-select: none;

    @media (min-width: $width-max-mobile) {
        &:hover {
            color: $color-primary;
        }
    }
}

.ProductFilters-Badge {
    z-index: 1;
    position: fixed;
    left: 2rem;
    bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    text-transform: uppercase;
    border-radius: 100%;
    background: $color-primary;
    color: $color-text-primary;
    transition: 250ms ease-in-out;
    font-size: 1rem;

    svg {
        height: 2rem;
        width: 2rem;
    }

    @media (max-width: $width-max-mobile) {
        bottom: 8rem;
        width: 4.5rem;
        height: 4.5rem;

        svg {
            padding: 0.25rem;
        }
    }

    @media (min-width: $width-max-mobile) {
        &:hover {
            background: $color-primary-light;
            box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        }
    }
}

.ProductFilters-Modal {
    .ProductFilters-Block-Content {
        overflow-y: auto;
        white-space: nowrap;
        max-height: 65vh;
        overflow-y: auto;

        .ProductFilters-Block-Content-Title {
            margin: 1rem 0px 0px 0px;
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .ProductFilters-Block-Content-Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0.25rem;
            margin-bottom: 1.25rem;
            text-transform: uppercase;
            border-bottom: 0.05rem solid $color-silvery;

            .ProductFilters-Block-Content-Header-Title {
                font-size: 1.5rem;
                font-weight: 600;

                .Icon {
                    width: 2rem;
                    cursor: pointer;
                    transform: translateY(0.25rem);
                }
            }

            .ProductFilters-Block-Content-Header-Action {
                .Icon {
                    font-size: 2rem;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}

.ProductFilters-Field {
    display: flex;
    flex-direction: column;
    border-bottom: 0.015rem solid $color-silvery;
    margin-bottom: 1rem;

    .ProductFilters-Field-Title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    .ProductFilters-Field-Items {
        .ProductFilters-Field-Items-Item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
            text-transform: uppercase;

            .Checkbox {
                margin-right: 1rem;
            }
        }
    }
}
