@import '_globals.scss';

.container {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 4.25rem;
    padding: var(--block-padding-small) 0;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;

    &,
    &:not(:disabled) {
        transition:
            250ms ease-in-out all,
            150ms ease-in-out color,
            150ms ease-in-out background-color;
    }

    .icon {
        height: 100%;
    }

    .quantity {
        width: 0;
    }

    svg {
        color: var(--accent-secondary-text);
        fill: var(--accent-secondary-text);
        stroke: var(--accent-secondary-text);
    }

    @media (min-width: $breakpoint-mobile) {
        max-height: 3.5rem;
        font-size: 2.5rem;
    }

    &[data-items]:not([data-items='0']) {
        gap: var(--block-spacer-small);
        padding: var(--block-padding-small) calc(var(--block-padding) * 1.25);
        background-color: var(--accent-primary);
        color: var(--accent-primary-text);
        border-radius: 5rem;
        font-size: 2.25rem;

        @media (min-width: $breakpoint-mobile) {
            padding: var(--block-padding-small) var(--block-padding);
            font-size: 2.15rem;
        }

        svg {
            color: var(--accent-primary-text);
            fill: var(--accent-primary-text);
            stroke: var(--accent-primary-text);
        }

        .quantity {
            font-size: 0.9em;
            font-weight: 700;
            width: auto;
            padding: 0 0.25rem;
        }

        &:is(:hover, :active) {
            background-color: var(--color-bright);

            :is(&, svg) {
                color: var(--color-dark);
            }
        }
    }
}
