@import 'globals';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    background: transparent;
    border-radius: var(--block-border-radius);
    color: var(--accent-secondary-text);
    transition: 150ms ease-in-out;

    &.open {
        background: var(--accent-secondary-dark);
        color: var(--accent-secondary-text);
    }

    svg.icon {
        font-size: 3rem;
        line-height: 3rem;
        vertical-align: middle;
    }

    @media (min-width: $breakpoint-header) {
        display: none;
    }
}
