@import '@/style/variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    cursor: pointer;
    background: transparent;
    border-radius: var(--block-border-radius);
    color: var(--accent-secondary-text);
    transition: 150ms ease-in-out;

    &.open {
        background: var(--accent-primary);
        color: var(--accent-primary-text);
    }

    svg.icon {
        font-size: 3rem;
        line-height: 3rem;
        transform: scaleX(-1);
    }

    @media (min-width: $breakpoint-tablet-medium) {
        display: none;
    }
}
