@import '_globals.scss';

.container {
    display: none;

    @media (min-width: $breakpoint-header) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: calc(var(--block-spacer) * 2);
        margin-left: var(--block-spacer);
        height: 100%;
        font-weight: 600;
        font-size: 1.65rem;
        text-transform: uppercase;
        color: var(--color-dark);

        &.centered {
            gap: calc(var(--block-spacer-large) * 1.75);
        }
    }

    a {
        cursor: pointer;
        height: 100%;

        &:is(:hover, :active, :focus, :focus-within, .active),
        &:hover {
            color: var(--accent-primary);
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--block-spacer-small);
        height: 100%;
        cursor: pointer;

        svg {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
            margin: 0 -0.25rem -0.15rem 0;
            font-size: 1.75rem;
            vertical-align: middle;
            transform: rotate(-90deg);
            transition: 75ms ease-in-out transform;
            text-align: right;
        }

        &:has(:is(:hover, :active, :focus, :focus-within)),
        &:is(:hover, :active, :focus, :focus-within),
        &:hover {
            color: var(--accent-primary);

            svg {
                transform: rotate(0);
            }

            /* NOTE: DO NOT "@media (hover: hover) and (pointer: fine)" this one! */
            .submenu {
                z-index: 1;
                max-height: 100vh;
                border-bottom: var(--block-border-width) solid var(--accent-secondary);
            }
        }

        // Firefox doesn't support `:is()`, so we have to do this.
        &:hover .submenu {
            opacity: 1;
            max-height: 100vh !important;
        }

        a {
            text-transform: uppercase;

            &.top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                text-transform: unset;
                white-space: nowrap;
            }
        }

        .submenu {
            z-index: -1;
            overflow: hidden;
            position: absolute;
            inset: 5.45rem 0 auto 0;

            max-height: 0;
            opacity: 0;
            transition:
                75ms ease-in-out max-height,
                75ms ease-in-out height,
                150ms ease-in-out border,
                $animation-duration ease-in-out opacity;
            // Make the hit-box larger, could've been a padding but it obscures the logo
            // e.g., let's not `padding-top: 0.75rem;`.
            border-bottom: 0 solid transparent;
            background: var(--accent-secondary-light);
            color: var(--color-dark);
            box-shadow: 0 1rem 1rem -1rem var(--color-block-shadow);
            line-height: normal;
            cursor: unset;

            .content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
                gap: var(--block-spacer-large);
                padding: 2rem 2rem 1rem 2rem;
                max-width: var(--page-width);
                margin: 0 auto;

                .subitem {
                    margin-bottom: var(--block-spacer);
                    transition: 150ms ease-in-out;

                    &.active,
                    &:hover {
                        font-weight: 700;
                    }

                    .title {
                        font-weight: 500;
                        line-height: normal;
                        min-height: 2rem;
                    }
                    .description {
                        font-weight: 500;
                        font-size: 1.25rem;
                        line-height: normal;
                        text-transform: none;
                        opacity: 0.75;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

.active {
    color: var(--accent-primary);
    text-decoration: underline 0.2rem;
    text-underline-offset: var(--block-border-width);
    text-underline-position: auto;
    font-weight: 700;
}
