@import '../src/scss/_app.scss';

// Components
@import '@/components/Breadcrumbs/Breadcrumbs.scss';
@import '@/components/Currency/Currency.scss';
@import '@/components/SocialShare/SocialShare.scss';
@import '@/components/Vendors/Vendors.scss';

html,
body {
    width: 100%;
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    -moz-osx-font-smoothing: always;
    -webkit-font-smoothing: always;
    font-smooth: always;
    overscroll-behavior-x: none;
    font-size: 11px;
    touch-action: manipulation;
    text-size-adjust: none;
    color: var(--color-dark);
    background: var(--color-bright);

    @media screen and (max-width: 950px) {
        font-size: 0.615rem;
    }

    .zEWidget-launcher {
        z-index: 1 !important;
        margin: 2rem !important;
    }

    // TODO: Figure out a way to stop this from blocking elements
    #dummy-chat-button-iframe {
        right: 2rem !important;
        bottom: 2rem !important;

        @media screen and (max-width: 950px) {
            right: 1.75rem !important;
            bottom: 3rem !important;
        }
    }
}

:root {
    // TODO: styled-components theme, or even better
    //       through our CMS.

    --color-bright: #fefefe;
    --color-dark: #0e0e0e;

    --color-sale: #d91e18;

    --color-success: #1b6e1b;
    --color-success-light: #228a22;
    --color-danger: #d91e18;

    --color-block: #e6e6e6;
    --color-block-shadow: rgba(0, 0, 0, 0.35);

    --color-gray: #848484;
    --color-green: #1b6e1b;
    --color-green-light: #e1faea;

    --component-product-card-width: 20rem;

    --page-width: 1465px;

    --block-border-radius: 1.25rem;
    --block-border-radius-small: 1rem;
    --block-border-radius-tiny: 0.75rem;
    --block-border-width: 0.35rem;

    --block-padding: 1rem;
    --block-padding-small: 0.5rem;
    --block-padding-large: 1.5rem;

    --block-spacer: 1rem;
    --block-spacer-small: 0.75rem;
    --block-spacer-large: 1.5rem;

    @media (max-width: 950px) {
        --component-product-card-width: 19.5rem;

        --block-border-width: 0.35rem;

        --block-padding: 1rem;
        --block-padding-small: 0.5rem;
        --block-padding-large: 1.5rem;

        --block-spacer: 0.75rem;
        --block-spacer-small: 0.5rem;
        --block-spacer-large: 1.25rem;
    }
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: var(--accent-primary-light);
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--block-padding-small);
}
