@import '_globals.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer-large);

    &:not(.full) {
        padding: var(--block-padding-large);
        background: var(--color-block);
        border-radius: var(--block-border-radius);
        color: var(--foreground);
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--block-spacer-small);

        &.align-left {
            align-items: flex-start;
            text-align: left;
        }
        &.align-center {
            align-items: center;
            text-align: center;
        }
        &.align-right {
            align-items: flex-end;
            text-align: right;
        }

        a:is(:hover):not(:disabled) {
            color: var(--color-accent-primary);

            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-thickness: 0.2rem;
            text-underline-offset: var(--block-border-width);
        }

        .title {
            font-size: 2.5rem;
            font-weight: 500;

            @media (min-width: $breakpoint-mobile) {
                font-size: 2.25rem;
            }
        }

        .body {
            max-width: 64rem;
        }
    }

    &.full {
        .full-collection {
            padding: 0;
        }
    }
}
