@import '../../scss/app';

.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--accent-primary-dark);
    color: var(--color-text-primary);

    .Footer-Wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 1.5rem;
        width: $width-max-page;
        max-width: 100%;
        padding: 1.5rem;
    }

    .Footer-Blocks {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        text-align: left;

        @media (max-width: $width-max-mobile) {
            display: grid;
            grid-template-columns: 1fr;
        }

        .Footer-Blocks-Block {
            display: flex;
            flex: 1;
            flex-grow: 1;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-transform: uppercase;

            @media (max-width: $width-max-mobile) {
                padding-bottom: 1.5rem;
            }

            h2, h3 {
                font-size: 2rem;
                font-weight: 700;
                padding-bottom: 0.5rem;
            }

            a {
                font-weight: 300;
                font-size: 1.25rem;
                line-height: 1.75rem;
                letter-spacing: 0.05rem;

                &:hover, &:active {
                    text-decoration: underline;
                }
            }

            &.Footer-Blocks-Block-About {
                flex-grow: 1;
                line-height: 1.5rem;
                letter-spacing: 0.05rem;
                font-size: 1.25rem;

                .Footer-Blocks-Block-About-Logo {
                    width: 15vw;
                    height: 6rem;
                    max-width: 250px;
                    margin-bottom: 1rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;

                    @media (max-width: $width-max-mobile) {
                        max-width: 60vw;
                    }
                }
            }
        }
    }
}
