.container {
    display: flex;
    flex-direction: column;
    gap: var(--block-spacer-large);

    height: 100%;

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'content' 'sidebar';

        max-width: 100%;
        height: 100%;

        @media (min-width: 920px) {
            grid-template-columns: 1fr minmax(auto, 20rem);
            grid-template-rows: 1fr;
            grid-template-areas: 'content sidebar';
        }

        .lines {
            grid-area: content;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 100%;
        }

        .sidebar {
            grid-area: sidebar;
            display: block;
        }
    }
}
