@import '../../scss/app';

.Currency {
    position: relative;

    .Currency-Prefix {
        padding-right: 0.25rem;
    }
    .Currency-Suffix {
        padding-left: 0.25rem;
    }

    &.Currency-Sale {
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            right: 0;
            border-top: 0.15rem solid;
            border-color: inherit;
            transform: rotate(-5deg);
        }
    }

    &.Currency-Discount {
        color: $color-sale;
    }
}
