@import '../../scss/app';

.ContentBlock {
    display: flex;
    padding: 0rem 0px 1rem 0px;
    background: $color-white;
    background-size: cover;
    background-position: center;
    color: $color-black;
}
