@import '../../scss/app';

.ContentBlock {
    display: flex;
    padding: 1rem 0px;
    background: $color-white;
    background-size: cover;
    background-position: center;
    color: $color-black;

    &.ContentBlock-Dark {
        background: $color-light-gray;

        .CollectionBlock {
            .ProductCard {
                background: $color-white;

                .ProductCard-Container {
                    .ProductCard-Actions {
                        .ProductCard-Actions-Action {
                            background: $color-silvery;

                            &.Button {
                                background: $color-primary;
                            }

                            .Input {
                                background: $color-silvery;
                            }

                            .ProductCard-Actions-Action-Variant {
                                background: $color-silvery;
                                border: 0.15rem solid $color-silvery;
                            }
                        }

                        .ProductCard-Actions-Action-QuantityInput {
                            .Action {
                                background: $color-silvery;
                                border: 0.15rem solid $color-silvery;

                                @media (min-width: $width-max-mobile) {
                                    &:hover {
                                        border-color: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
