@import 'globals';

.add-to-cart {
    gap: calc(var(--block-spacer-small) / 2);
    font-size: 1.45rem;
    border-radius: var(--block-border-radius);
    text-transform: uppercase;

    @media (min-width: $breakpoint-mobile) {
        font-size: 1.35rem;
    }
}

.add-to-cart[data-ready='false'] {
    cursor: progress;
}
