@import '_globals.scss';

.container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin-bottom: var(--block-spacer);

    @media (min-width: $breakpoint-mobile) {
        display: flex;
    }

    &:empty {
        display: none !important;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 var(--block-padding-small);
        gap: 0.25rem;
        user-select: none;

        &[data-status='available'] {
            color: var(--color-block-success-dark);
        }
    }

    .icon {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}
