@import '_globals.scss';

.gallery {
    display: flex;
    gap: var(--block-spacer);

    margin-bottom: var(--block-padding-large);

    @media (min-width: $breakpoint-mobile) {
        flex-direction: column;
        gap: var(--block-spacer-large);

        margin-bottom: 0;
    }

    img {
        object-fit: contain;
    }

    section {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-mobile) {
            justify-content: flex-start;
            align-items: flex-start;
        }

        img {
            width: 100%;

            @media (min-width: $breakpoint-mobile) {
                height: 100%;
                padding: 0 0 calc(var(--block-padding-large) * 2) 0;
                object-position: top center;

                aspect-ratio: 1 / 1;
            }
        }
    }

    aside {
        display: flex;
        gap: var(--block-spacer);
        flex-direction: column;

        @media (min-width: $breakpoint-mobile) {
            flex-direction: row;
        }

        .preview {
            overflow: hidden;
            width: auto;
            height: 6rem;
            padding: var(--block-padding);
            flex-grow: 0;
            flex-shrink: 1;

            padding: var(--block-padding);

            background: var(--color-block);

            border-radius: var(--block-border-radius);
            aspect-ratio: 1;
            cursor: pointer;
            transition: $animation-duration ease-in-out background-color;

            @media (min-width: $breakpoint-mobile) {
                height: auto;
                width: 10rem;
            }

            &.active {
                background-color: var(--color-accent-secondary-light);
            }
        }
    }
}
