@import '../../scss/app';

.Breadcrumbs {
    z-index: 9999;
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-dark);
    padding: var(--block-padding-large);
    border-radius: var(--block-border-radius);
    background: var(--color-block);
    letter-spacing: -0.0125rem;

    .Breadcrumbs-Content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        text-transform: uppercase;
        list-style-type: none;

        .Breadcrumbs-Content-Item {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            font-size: 1.25rem;
            line-height: 1.5rem;
            line-height: 100%;
            font-weight: 600;
            white-space: nowrap;
            cursor: pointer;

            .Link {
                display: block;
                color: var(--color-dark);

                &:hover,
                &:active {
                    color: var(--accent-primary);
                }
            }

            &:last-child {
                .Link {
                    color: var(--accent-primary);
                    font-weight: 700;
                }

                &:after {
                    content: none;
                }
            }

            &:after {
                content: '/';
                margin: 0px 0.5rem;
            }
        }
    }
}
