@import '../../scss/app';

.Breadcrumbs {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 3rem;
    margin: 0.5rem 0rem;
    transform: translateZ(0);
    //padding: 1rem 1rem;
    //background: #efefef;
    border-radius: var(--block-border-radius);

    .Breadcrumbs-Content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        margin: 0px;
        text-transform: uppercase;
        list-style-type: none;

        .Breadcrumbs-Content-Item {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            padding: 1rem 0px;
            font-size: 1.15rem;
            line-height: 1.15rem;
            white-space: nowrap;
            opacity: 0.75;
            cursor: pointer;

            .Link {
                display: block;
                color: lighten($color: $color-dark, $amount: 5%);

                &:hover,
                &:active {
                    color: $color-dark;
                    color: var(--accent-primary);
                }
            }

            &:last-child {
                .Link {
                    color: $color-primary;
                    font-weight: 600;
                }

                &:after {
                    content: none;
                }
            }

            &:after {
                content: '>';
                margin: 0px 0.5rem;
            }
        }
    }
}
