{
    "extends": ["next/core-web-vitals", "../../.eslintrc"],
    "ignorePatterns": ["!**/*"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": ["./tsconfig.json", "./tsconfig.test.json"],
                "ecmaFeatures": {
                    "jsx": true
                }
            }
        }
    ],
    "settings": {
        "next": {
            "rootDir": "apps/storefront/"
        }
    }
}
