@use 'variables';

.footer {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    max-width: 100%;
}

.container,
.copyrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.content {
    max-width: var(--layout-page-width);
}

.container {
    background: hsl(var(--color-accent-primary));
    color: hsl(var(--color-foreground));

    .content {
        .section {
            a {
                &:is(:hover) {
                    color: hsl(var(--color-background));
                }
            }
        }

        .status {
            &.beside {
                grid-template-columns: 1fr;

                @media (min-width: variables.$breakpoint-mobile) {
                    grid-template-columns: auto 1fr;
                }
            }

            .section {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: calc(var(--layout-block-padding) / 2);

                .message {
                    color: hsl(var(--color-foreground));
                }

                a,
                .message {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: inherit;
                }
            }
        }
    }
}

.copyrights {
    background: hsl(var(--color-background));
    color: hsl(var(--color-foreground));

    .content {
        margin: 0 var(--layout-page-spacing);

        .links {
            display: flex;
            gap: var(--layout-block-padding);

            text-transform: uppercase;
        }

        &.beside {
            @media (max-width: variables.$breakpoint-mobile) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }
        }
    }
}

.container .beside,
.copyrights .beside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: calc(var(--layout-page-spacing) / 2);

    .section {
        &:is(:last-child) {
            @media (min-width: variables.$breakpoint-mobile) {
                justify-self: flex-end;
                text-align: right;
            }
        }

        a.git-ref {
            text-transform: lowercase;
        }
    }

    @media (min-width: variables.$breakpoint-mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        align-items: center;
    }
}

.status-iframe {
    margin-left: -4px;
    margin-bottom: -3px;
}
