@use 'variables';

.container {
    display: flex;
    flex-direction: column;

    button:not(:is(:first-child)):is(:last-child) {
        margin: var(--layout-block-padding) 0 0 0;
    }

    button[type='submit']:is(:disabled) {
        color: var(--color-foreground-secondary);
        border-color: var(--color-foreground-secondary);
        background: none;

        cursor: progress;
    }
}
