@import '@/style/variables.scss';

.container {
    --desktop-width: 0.5;
    --max-width: min(100vw, var(--page-width));

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    gap: calc(var(--block-spacer-large) * 2);
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    @media (min-width: $breakpoint-mobile) {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        .side {
            width: 100%;
            max-width: calc(calc(var(--max-width) * var(--desktop-width)) - calc(var(--block-spacer-large) * 2));
        }
    }

    &.padding {
        padding: calc(var(--block-spacer-large) * 2) calc(var(--block-spacer) / 2);

        @media (max-width: $breakpoint-mobile) {
            max-width: calc(var(--max-width) - calc(var(--padding) * 2));
        }

        @media (min-width: $breakpoint-mobile) {
            padding: calc(var(--block-spacer-large) * 2) var(--block-spacer-large) var(--block-spacer-large)
                var(--block-spacer-large);
        }

        & > .side {
            margin: 0 var(--block-spacer);

            @media (min-width: $breakpoint-mobile) {
                margin: 0;
            }
        }
    }
}
